<section class="site-content site-section site-section-light themed-background-dark-night">
    <div class="container">
        <h3 class="site-heading text-center">Ontvang <strong>leads</strong> van potentiële <strong>leerlingen</strong> uit de buurt.</h3>
        <div class="site-block">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-info">Start nu met het ontvangen van leads!</a>
                </div>
            </div>
        </div>
    </div>
</section>