<section class="site-content site-section site-section-light themed-background-dark-night">
    <div class="container">
        <h3 class="site-heading text-center"><strong>Vergelijk</strong> en  <strong>vind</strong> de beste <strong>rijschool</strong> voor jou!</h3>
        <div class="site-block">
            <div class="row">
                <div class="col-xs-12">
                    <a href="{{ path('website_home') }}"><img src="{{ asset('bundles/app/website/img/vergelijknu2.png') }}" class="img-responsive center-block"/></a>
                </div>
            </div>
        </div>
    </div>
</section>