<div class="site-block">
    <h3 class="site-heading"><strong>Waarom</strong> Rijschoolvinden?</h3>
    <ul class="list-summary">
        <li><i class="fa fa-check success" aria-hidden="true"></i> Geheel kosteloos.</li>
        <li><i class="fa fa-check success" aria-hidden="true"></i> Alle soorten rijbewijzen en theoriecursussen.</li>
        <li><i class="fa fa-check success" aria-hidden="true"></i> Vergelijk binnen enkele minuten.</li>
        <li><i class="fa fa-check success" aria-hidden="true"></i> Zoek alleen in eigen regio.</li>
        <li><i class="fa fa-check success" aria-hidden="true"></i> Direct contact met instructeur.</li>
        <li><i class="fa fa-check success" aria-hidden="true"></i> Geen verplichtingen.</li>
    </ul>
</div>