<div class="site-block">
    <a href="{{ path('website_home') }}"><img src="{{ asset('bundles/app/website/img/vergelijknu.png') }}" class="img-responsive center-block" /></a>
</div>

<div class="site-block">
    <blockquote>
        <p>Binnen no time had ik mijn eerste proefles binnen!</p>
        <footer><strong>Esmee van Vliet</strong>, Student</footer>
    </blockquote>
</div>