<div class="site-block">
    <h3 class="site-heading"><strong>Waarom</strong> Rijschoolvinden?</h3>
    <ul class="list-summary">
        <li><i class="fa fa-check success" aria-hidden="true"></i> Eerste offerte gratis </li>
        <li><i class="fa fa-check success" aria-hidden="true"></i> Geen opstart- of vaste kosten </li>
        <li><i class="fa fa-check success" aria-hidden="true"></i> Betaal alleen per ontvangen offerteaanvraag </li>
        <li><i class="fa fa-check success" aria-hidden="true"></i> Stel eigen aanvraaglimiet in </li>
        <li><i class="fa fa-check success" aria-hidden="true"></i> Valse gegevens worden niet gefactureerd </li>
        <li><i class="fa fa-check success" aria-hidden="true"></i> Direct opzegbaar </li>
        <li><i class="fa fa-check success" aria-hidden="true"></i> Offerteaanvragen voor meerdere  rijbewijscategorieën. </li>
        <li><i class="fa fa-check success" aria-hidden="true"></i> Kosten BTW aftrekbaar in tegestelling tot advertenties op zoekmachines </li>
    </ul>
</div>