{% embed 'AppBundle:Emails:header.html.twig'%}{% endembed %}

<tr>
    <td align="center" bgcolor="#1bbae1" style="padding: 20px 20px 10px 20px; color: #ffffff; font-size: 14px; line-height: 16px; border-bottom: 1px solid #f6f6f6;">
        <img src="https://www.rijschoolvinden.nl/bundles/app/website/img/rijschoolvinden-logo-white.png" style="height: 50px;"/><br/><br/>
    </td>
</tr>
<tr>
    <td align="left" bgcolor="#ffffff" style="padding: 20px 40px 20px 40px; color: #555555; font-size: 13px; line-height: 16px; border-bottom: 1px solid #f6f6f6;">
        <h2 class="text-center">Bel mij terug verzoek</h2>
        Bedrijfsnaam: {{ companyname }}<br/>
        Telefoonnummer: {{ phonenumber }}<br/>
    </td>
</tr>

{% embed 'AppBundle:Emails:footer.html.twig'%}{% endembed %}