<tr>
    <td align="center" bgcolor="#f9f9f9" style="padding: 0px 10px 20px 10px; color: #555555; font-size: 12px;">
        <h4>Heeft u vragen?</h4>
        Aarzel niet en stel gerust uw vragen.<br/>
        U kunt ons bereiken op info@rijschoolvinden.nl.
    </td>
</tr>
<tr>
    <td align="center" bgcolor="#dddddd" style="padding: 25px 10px 25px 10px; color: #555555; font-size: 12px; line-height: 18px;">
        {#<img src="https://www.rijschoolvinden.nl/bundles/app/website/img/logo_black.png" style="height: 50px;"/><br/><br/>#}
        <b>Rijschoolvinden.nl</b><br/>
        www.rijschoolvinden.nl &bull; info@rijschoolvinden.nl<br/>
        De Weer 194 &bull; 1503WN &bull; Zaandam &bull; Nederland
    </td>
</tr>
<tr>
    <td style="padding: 15px 10px 15px 10px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td align="center" width="100%" style="color: #999999; font-family: Arial, sans-serif; font-size: 12px;">
                    {#2013-14 &copy; <a href="http://goo.gl/TDOSuC" style="color: #1bbae1;">ProUI</a>#}
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
<!--[if (gte mso 9)|(IE)]>
</td>
</tr>
</table>
<![endif]-->
</body>
</html>