{% embed 'AppBundle:Emails:header.html.twig'%}{% endembed %}

<tr>
    <td align="center" bgcolor="#1bbae1" style="padding: 20px 20px 10px 20px; color: #ffffff; font-size: 14px; line-height: 16px; border-bottom: 1px solid #f6f6f6;">
        <img src="https://www.rijschoolvinden.nl/bundles/app/website/img/rijschoolvinden-logo-white.png" style="height: 50px;"/><br/><br/>
    </td>
</tr>
<tr>
    <td align="left" bgcolor="#ffffff" style="padding: 20px 40px 20px 40px; color: #555555; font-size: 13px; line-height: 16px; border-bottom: 1px solid #f6f6f6;">
        <h2 class="text-center">Nieuwe offerteaanvraag</h2>
        Beste {{ companyName }},<br/><br/>
        Hieronder vindt u de gegevens van de offerteaanvraag:<br/><br/>

        Datum en tijdstip aanvraag: {{ lead.inserted|date('d-m-Y H:i') }}<br/>
        Naam: {{ lead.firstName }} {{ lead.lastName }}<br/>
        E-mail: {{ lead.emailAddress }}<br/>
        Telefoonnummer: {{ lead.phoneNumber }}<br/>
        Wilt lessen in: {{ lead.city.name }}<br/>
        Categorie: {{ lead.licence.name }}<br/>
        Ervaring:
        {% if lead.experience == 0 %}
            Nee, heeft geen ervaring.<br/>
        {% elseif lead.experience == 1 %}
            Ja, heeft al (deels) ervaring.<br/>
        {% endif %}

        Beginmogelijkheid:
        {% if lead.availability == 0 %}
            Zo snel mogelijk!<br/>
        {% elseif lead.availability == 1 %}
            +- 1 week<br/>
        {% elseif lead.availability == 2 %}
            +- 2 weken<br/>
        {% elseif lead.availability == 3 %}
            +- 3 weken<br/>
        {% elseif lead.availability == 4 %}
            Later dan 1 maand<br/>
        {% endif %}

        Contactvoorkeur:
        {% if lead.contactPreference == 0 %}
            Per telefoon<br/>
        {% elseif lead.contactPreference == 1 %}
            Per e-mail<br/>
        {% elseif lead.contactPreference == 2 %}
            Per WhatsApp<br/>
        {% elseif lead.contactPreference == 3 %}
            Per post<br/>
        {% elseif lead.contactPreference == 4 %}
            Geen voorkeur<br/>
        {% endif %}
        <br/><br/>
        Met vriendelijke groet,<br/>
        Rijschoolvinden
    </td>
</tr>

{% embed 'AppBundle:Emails:footer.html.twig'%}{% endembed %}