{% embed 'AppBundle:Emails:header.html.twig'%}{% endembed %}

<tr>
    <td align="center" bgcolor="#1bbae1" style="padding: 20px 20px 10px 20px; color: #ffffff; font-size: 14px; line-height: 16px; border-bottom: 1px solid #f6f6f6;">
        <img src="https://www.rijschoolvinden.nl/bundles/app/website/img/rijschoolvinden-logo-white.png" style="height: 50px;"/><br/><br/>
    </td>
</tr>
<tr>
    <td align="left" bgcolor="#ffffff" style="padding: 20px 40px 20px 40px; color: #555555; font-size: 13px; line-height: 16px; border-bottom: 1px solid #f6f6f6;">
        <h2 class="text-center">Lead gerapporteerd</h2>
        {{ rijschool.companyName }} heeft een lead gerapporteerd.<br/><br/>

        <h3>Lead gegevens</h3>
        Datum en tijdstip offerteaanvraag: {{ lead.lead.inserted|date('d-m-Y H:i') }}<br/>
        Naam:{{ lead.lead.firstName }} {{ lead.lead.lastName }}<br/>
        Email: {{ lead.lead.emailAddress }}<br/>
        Tel: {{ lead.lead.phoneNumber }}<br/><br/>

        <a href="https://www.rijschoolvinden.nl/adminplus/lead/{{ lead.lead.id }}">Directe link naar lead</a><br/><br/>

        <h3>Rijschool gegevens</h3>
        Bedrijfsnaam: {{ rijschool.companyName }}<br/>
        Email: {{ rijschool.email }}<br/>
        Tel: {{ rijschool.phoneNumber }}<br/>

    </td>
</tr>

{% embed 'AppBundle:Emails:footer.html.twig'%}{% endembed %}