{% embed 'AppBundle:Emails:header.html.twig'%}{% endembed %}

<tr>
    <td align="center" bgcolor="#1bbae1" style="padding: 20px 20px 10px 20px; color: #ffffff; font-size: 14px; line-height: 16px; border-bottom: 1px solid #f6f6f6;">
        <img src="https://www.rijschoolvinden.nl/bundles/app/website/img/rijschoolvinden-logo-white.png" style="height: 50px;"/><br/><br/>
    </td>
</tr>
<tr>
    <td align="left" bgcolor="#ffffff" style="padding: 20px 40px 20px 40px; color: #555555; font-size: 13px; line-height: 16px; border-bottom: 1px solid #f6f6f6;">
        <h2 class="text-center">Bevestiging registratie</h2>
        Beste {{ companyName }},<br/><br/>
        Bedankt voor uw registratie.<br/>
        Hieronder vindt u uw inloggegevens:<br/><br/>
        Gebruikersnaam: {{ email }}<br/>
        Wachtwoord: {{ password }}<br/><br/>

        U kunt met deze gegevens inloggen op:<br/>
        <a href="https://www.rijschoolvinden.nl/inloggen/">https://www.rijschoolvinden.nl/inloggen/</a><br/><br/>
        Met vriendelijke groet,<br/>
        Rijschoolvinden
    </td>
</tr>

{% embed 'AppBundle:Emails:footer.html.twig'%}{% endembed %}