{% embed 'AppBundle:Emails:header.html.twig'%}{% endembed %}

<tr>
    <td align="center" bgcolor="#1bbae1" style="padding: 20px 20px 10px 20px; color: #ffffff; font-size: 14px; line-height: 16px; border-bottom: 1px solid #f6f6f6;">
        <img src="https://www.rijschoolvinden.nl/bundles/app/website/img/rijschoolvinden-logo-white.png" style="height: 50px;"/><br/><br/>
    </td>
</tr>
<tr>
    <td align="left" bgcolor="#ffffff" style="padding: 20px 40px 20px 40px; color: #555555; font-size: 13px; line-height: 16px; border-bottom: 1px solid #f6f6f6;">
        <h2 class="text-center">Heeft u hulp nodig?</h2>
        Beste {{ user.firstname }} {{ user.lastname }},

        Afgelopen week heeft u zich geregistreerd bij Rijschoolvinden. Echter heeft u uw registratie niet volledig voltooid. U loopt hierdoor potentiele leerlingen mis. Zit u vast en heeft u hulp nodig? Rijschoolvinden heeft een uitstekende helpdesk. U kunt onze helpdesk middels WhatsApp bereiken op 06 - 40 59 32 19.<br/>
        U kunt eventueel contact met ons opnemen voor vragen en hulp door op deze mail te replyen.<br/><br/>
        Uw inloggegevens heeft u tevens ook per e-mail ontvangen. Bent u uw inloggegevens kwijt? U kunt <a href="https://rijschoolvinden.nl/herstel-wachtwoord/">hier</a> uw wachtwoord herstellen.<br/><br/>

        Met vriendelijke groet,<br/>
        Rijschoolvinden
    </td>
</tr>

{% embed 'AppBundle:Emails:footer.html.twig'%}{% endembed %}