{% embed 'AppBundle:Emails:header.html.twig'%}{% endembed %}

<tr>
    <td align="center" bgcolor="#1bbae1" style="padding: 20px 20px 10px 20px; color: #ffffff; font-size: 14px; line-height: 16px; border-bottom: 1px solid #f6f6f6;">
        <img src="https://www.rijschoolvinden.nl/bundles/app/website/img/rijschoolvinden-logo-white.png" style="height: 50px;"/><br/><br/>
    </td>
</tr>
<tr>
    <td align="left" bgcolor="#ffffff" style="padding: 20px 40px 20px 40px; color: #555555; font-size: 13px; line-height: 16px; border-bottom: 1px solid #f6f6f6;">
        <h2 class="text-center">Aanvraag verlopen</h2>
        Beste {{ lead.firstname }} {{ lead.lastname }},

        Wij willen je op de hoogte stellen dat er tot op heden geen rijschool zich heeft aangemeld in de gebied waar jij graag wilt lessen.
        Om de kwaliteit van onze aanvragen willen waarborgen worden aanvragen ouder dan 7 dagen automatisch als verlopen aangemerkt.<br/><br/>
        U kunt ten aller tijde een nieuwe aanvraag geheel kostenloos indienen.<br/><br/>

        Met vriendelijke groet,<br/>
        Rijschoolvinden
    </td>
</tr>

{% embed 'AppBundle:Emails:footer.html.twig'%}{% endembed %}