{% embed 'AppBundle::Website/header.html.twig' %}
    {% block title %}Klachten{% endblock %}
    {% block description %}Heeft u klachten? Gebruik dan het formulier hiernaast om uw klacht te beschrijven. Wij proberen zo spoedig mogelijk een reactie te geven.{% endblock %}
    {% block og_title %}Klachten{% endblock %}
    {% block og_description %}Heeft u klachten? Gebruik dan het formulier hiernaast om uw klacht te beschrijven. Wij proberen zo spoedig mogelijk een reactie te geven.{% endblock %}
{% endembed %}

<!-- Intro -->
<section class="site-section site-section-light site-section-top themed-background-default">
    <div class="container">
        <h1 class="text-center animation-slideDown"><i class="fa fa-ban"></i> <strong>Klachten</strong></h1>
    </div>
</section>
<!-- END Intro -->

{#<section class="site-content site-section site-section-light parallax-image" style="background-image: url('{{ asset('bundles/app/website/img/auto-spiegel.jpg') }}');">#}
    {#<div class="container heading-image">#}
        {#<h2 class="site-heading text-center" style="vertical-align: middle;">Heeft u klachten over een Rijschool?</h2>#}
    {#</div>#}
{#</section>#}

<section class="site-content site-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 site-block">
                <div class="site-block">
                    <h3 class="h2 site-heading"><strong>Klachten</strong></h3>
                    <p class="remove-margin">
                        Heeft u klachten? Gebruik dan het formulier hiernaast om uw klacht te beschrijven. Wij proberen zo spoedig mogelijk een reactie te geven.
                    </p>
                </div>
                <div class="site-block">
                    <h3 class="h2 site-heading"><strong>Rijschool</strong>vinden</h3>
                    <address>
                        De Weer 194<br>
                        1503WN Zaandam<br><br/>
                        <i class="fa fa-envelope-o"></i> <a href="mailto:info@rijschoolvinden.nl">info@rijschoolvinden.nl</a>
                    </address>
                    KVK: 60167017<br/>
                    BTW-nr: NL013073497B02<br/>
                    IBAN: NL62INGB0007746488<br/>
                </div>

            </div>
            <div class="col-sm-6 col-md-8 site-block">
                <h3 class="h2 site-heading"><strong>Klachten</strong> formulier</h3>
                {% embed 'AppBundle::Website/flashbag.html.twig' %}{% endembed %}
                <p>Heeft u naar aanleiding van onze website vragen en/of opmerkingen? Neem dan contact met ons. U kunt ons telefonisch, per mail of middels het onderstaande contact formulier bereiken.</p>
                <form action="{{ path('website_contact') }}" method="post" id="form-contact">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="gi gi-user"></i></span>
                            <input type="text" id="name" name="name" class="form-control input-lg" placeholder="Uw naam.." value="{{ app.request.get('name') ? app.request.get('name') : '' }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
                            <input type="text" id="email" name="email" class="form-control input-lg" placeholder="Uw e-mail adres.." value="{{ app.request.get('email') ? app.request.get('email') : '' }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea id="message" name="message" rows="10" class="form-control input-lg" placeholder="Waarmee kunnen wij u helpen?">{{ app.request.get('message') ? app.request.get('message') : '' }}</textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-primary">Verstuur contact formulier</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% embed 'AppBundle::Templates/calltoaction.html.twig' %}{% endembed %}

{% embed 'AppBundle::Website/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}