{% embed 'AppBundle::Website/header.html.twig' %}
    {% block title %}Wat kost het?{% endblock %}
    {% block description %}Ben je op zoek naar een geschikte rijschool voor het halen van je theorie-examen? Wil je beginnen met rijlessen om op die manier je rijexamen voor auto, motor of scooter te halen? Ongetwijfeld vind je dan graag een rijschool die jou voor een scherpe prijs kan helpen. Rijschoolvinden helpt je hierbij graag, zodat je je eigen kostbare tijd aan andere zaken kunt besteden.{% endblock %}
    {% block og_title %}Wat kost het?{% endblock %}
    {% block og_description %}Ben je op zoek naar een geschikte rijschool voor het halen van je theorie-examen? Wil je beginnen met rijlessen om op die manier je rijexamen voor auto, motor of scooter te halen? Ongetwijfeld vind je dan graag een rijschool die jou voor een scherpe prijs kan helpen. Rijschoolvinden helpt je hierbij graag, zodat je je eigen kostbare tijd aan andere zaken kunt besteden.{% endblock %}
{% endembed %}

<!-- Intro -->
<section class="site-section site-section-light site-section-top themed-background-default">
    <div class="container">
        <h1 class="text-center animation-slideDown"><i class="fa fa-euro"></i> <strong>Wat kost het?</strong></h1>
    </div>
</section>
<!-- END Intro -->

<section class="site-content site-section">
    <div class="container">
        <div class="site-block">
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <h3 class="site-heading">Gebruik maken van Rijschoolvinden is <strong>helemaal gratis</strong></h3>
                    <p>Ben je op zoek naar een geschikte rijschool voor het halen van je theorie-examen? Wil je beginnen met rijlessen voor je auto-, motor- of scooterrijbewijs? Ongetwijfeld vind je dan graag een rijschool die jou voor een scherpe prijs kan helpen. Rijschoolvinden.nl helpt je hierbij graag, zodat je je eigen kostbare tijd aan andere zaken kunt besteden</p>
                    <h3 class="site-heading">Kost dat <strong>ècht</strong> niets extra’s?</h3>
                    <p>Gebruik maken van onze diensten is voor jou geheel kosteloos. Wanneer jij je gegevens invult op onze website, ontvang je aanbiedingen van mogelijk passende rijscholen. Ook deze offertes zijn helemaal gratis en verplichten je nergens toe. Om het kiezen niet al te moeilijk te maken, krijg je maximaal 5 offertes. Deze kun je thuis op je gemak bekijken en vergelijken. Op die manier vind je snel en eenvoudig de rijschool die jou het meeste aanspreekt. Meld je nu aan en start binnenkort met je lessen!</p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="site-block">
                        {% embed 'AppBundle::Templates/side_waarom_voor_leerlingen.html.twig' %}{% endembed %}
                        {% embed 'AppBundle::Templates/side_testimonial_leerling.html.twig' %}{% endembed %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% embed 'AppBundle::Templates/calltoaction.html.twig' %}{% endembed %}

{% embed 'AppBundle::Website/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}











