{% embed 'AppBundle::Website/header.html.twig' %}
    {% block title %}Privacy{% endblock %}
    {% block description %}Het kan soms een risico inhouden wanneer je je persoonlijke gegevens invoert op een website. Bij Rijschoolvinden hoef je hier niet bang voor te zijn. We maken gebruik van een SSL verbinding, dus alle data worden geheel versleuteld heen en weer verzonden. Je kunt er volkomen op vertrouwen dat jouw gegevens niet worden doorgespeeld naar derden. Ze worden enkel gebruikt voor het zoeken van de meest geschikte autorijscholen. Heb jij de juiste rijschool gevonden, dan gaan wij er tussenuit. Vanaf dat moment maak je zelf afspraken met je eigen instructeur. Hiervoor zijn wij niet verantwoordelijk. Vul nu je gegevens in en wij sturen je zo snel mogelijk de meest passende offertes.{% endblock %}
    {% block og_title %}Privacy{% endblock %}
    {% block og_description %}Het kan soms een risico inhouden wanneer je je persoonlijke gegevens invoert op een website. Bij Rijschoolvinden hoef je hier niet bang voor te zijn. We maken gebruik van een SSL verbinding, dus alle data worden geheel versleuteld heen en weer verzonden. Je kunt er volkomen op vertrouwen dat jouw gegevens niet worden doorgespeeld naar derden. Ze worden enkel gebruikt voor het zoeken van de meest geschikte autorijscholen. Heb jij de juiste rijschool gevonden, dan gaan wij er tussenuit. Vanaf dat moment maak je zelf afspraken met je eigen instructeur. Hiervoor zijn wij niet verantwoordelijk. Vul nu je gegevens in en wij sturen je zo snel mogelijk de meest passende offertes.{% endblock %}
{% endembed %}

<!-- Intro -->
<section class="site-section site-section-light site-section-top themed-background-default">
    <div class="container">
        <h1 class="text-center animation-slideDown"><i class="fa fa-user-secret"></i> <strong>Hoe zit het met mijn privacy?</strong></h1>
    </div>
</section>
<!-- END Intro -->

<section class="site-content site-section">
    <div class="container">
        <div class="site-block">
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <h3 class="site-heading">Jouw <strong>privacy</strong> loopt <strong>geen</strong> gevaar</h3>
                    <p>Het kan soms een risico inhouden wanneer je je persoonlijke gegevens invoert op een website. Bij Rijschoolvinden hoef je hier niet bang voor te zijn. We maken gebruik van een SSL verbinding, dus alle data worden geheel versleuteld heen en weer verzonden. Je kunt er volkomen op vertrouwen dat jouw gegevens niet worden doorgespeeld naar derden. Ze worden enkel gebruikt voor het zoeken van de meest geschikte autorijscholen. Heb jij de juiste rijschool gevonden, dan gaan wij er tussenuit. Vanaf dat moment maak je zelf afspraken met je eigen instructeur. Hiervoor zijn wij niet verantwoordelijk. Vul nu je gegevens in en wij sturen je zo snel mogelijk de meest passende offertes.</p>
                    <p>Heb je de juiste rijschool voor jou gevonden? Voor ons zit het werk er dan op en vanaf dat moment maak je zelf afspraken met je eigen instructeur. Hiervoor zijn wij niet meer verantwoordelijk.</p>
                    <h3 class="site-heading"><strong>Privacy</strong> staat <strong>hoog</strong> in het vaandel</h3>
                    <p>Wij vinden het belangrijk dat de privacy wordt gewaarborgd. We maken daarom alleen gebruik van een versleutelde verbinding. Gegevens worden ook nooit gedeeld met derden. Rijschoolvinden.nl is er voor zowel de rijschoolhouder als de leerling.</p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="site-block">
                        {% embed 'AppBundle::Templates/side_waarom_voor_leerlingen.html.twig' %}{% endembed %}
                        {% embed 'AppBundle::Templates/side_testimonial_leerling.html.twig' %}{% endembed %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% embed 'AppBundle::Templates/calltoaction.html.twig' %}{% endembed %}

{% embed 'AppBundle::Website/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}


















