{% embed 'AppBundle::Website/header.html.twig' %}
    {% block title %}Rijscholen in {{ city.name }}{% endblock %}
    {% block description %}Jij wilt binnenkort je rijbewijs gaan halen? Je hebt groot gelijk, want dan kun je tenminste gaan en staan waar je wilt. Met een rijbewijs ben je nooit meer afhankelijk van anderen. Ook hoef je niet meer te balen van treinen en bussen die niet op tijd rijden. Een auto is altijd wel te lenen of te huren, maar een rijbewijs heb je gewoon nodig. Zoek je nu naar een goede rijschool in {{ city.name }}? Dit kan best lastig zijn. Hoe weet je nu waar je rijles moet nemen? Elke rijschool beweert dat hij of zij de beste is. Het is vooral belangrijk dat een rijschool bij jou past. Om dat uit te zoeken, heb je veel tijd nodig. Kostbare tijd die jij vast en zeker liever besteedt aan de studie en aan je vrienden. De allerbeste oplossing is daarom voor jou: gebruik maken van rijschoolvinden. Wij helpen je met het vinden van de beste rijschool in {{ city.name }}. Op die manier kun je lessen bij een rijschool die bij jou past.{% endblock %}
    {% block og_title %}Rijscholen in {{ city.name }}{% endblock %}
    {% block og_description %}Jij wilt binnenkort je rijbewijs gaan halen? Je hebt groot gelijk, want dan kun je tenminste gaan en staan waar je wilt. Met een rijbewijs ben je nooit meer afhankelijk van anderen. Ook hoef je niet meer te balen van treinen en bussen die niet op tijd rijden. Een auto is altijd wel te lenen of te huren, maar een rijbewijs heb je gewoon nodig. Zoek je nu naar een goede rijschool in {{ city.name }}? Dit kan best lastig zijn. Hoe weet je nu waar je rijles moet nemen? Elke rijschool beweert dat hij of zij de beste is. Het is vooral belangrijk dat een rijschool bij jou past. Om dat uit te zoeken, heb je veel tijd nodig. Kostbare tijd die jij vast en zeker liever besteedt aan de studie en aan je vrienden. De allerbeste oplossing is daarom voor jou: gebruik maken van rijschoolvinden. Wij helpen je met het vinden van de beste rijschool in {{ city.name }}. Op die manier kun je lessen bij een rijschool die bij jou past.{% endblock %}
{% endembed %}

<!-- Intro -->
<section class="site-section site-section-light site-section-top themed-background-default">
    <div class="container">
        <h1 class="text-center animation-slideDown">Kies de juiste <strong>rijschool voor jou in {{ city.name }}</strong> via Rijschoolvinden.nl</h1>
    </div>
</section>
<!-- END Intro -->

<section class="site-content site-section">
    <div class="container">
        <div class="site-block">
            <div class="col-xs-12 col-sm-8">
                {#<h2 class="site-heading">Kies de juiste <strong>rijschool {{ city.name }}</strong> via Rijschoolvinden.nl</h2>#}
                <h3 class="site-heading">Op zoek naar de juiste <strong>rijschool</strong> in <strong>{{ city.name }}</strong>?</h3>

                <p>Bij welke rijschool kan je nou het beste rijlessen nemen? Een goede keuze maken best lastig zijn. Elke rijschool beweert dat hij of zij de beste is. Het is vooral belangrijk dat het een rijschool is dat bij jou past. Om dat uit te zoeken heb je veel tijd nodig. Dit gaat weer ten koste van je vrije tijd die je aan wat anders kan besteden.</p>
                <p>De beste oplossing voor jou is om gebruik te maken van Rijschoolvinden! Wij helpen je met het vinden van de beste rijschool in {{ city.name }}. Op die manier kun je lessen nemen bij de rijschool die bij jou past.</p>

                <h3 class="site-heading">Bespaar <strong>tijd en geld</strong> door gebruik te maken van <strong>Rijschoolvinden</strong></h3>
                <p>Het maakt bij ons niet uit of je rijlessen wilt nemen voor de auto, scooter, motor of een andere voertuig. Ook voor theoriecursussen kun je bij ons terecht. Ben je 16 jaar of ouder? Dan mag je al beginnen met je theoriecursus. Wanneer je ouder bent dan 16,5, kun je ook starten met scooter- of autorijlessen. Neem nu contact op met Rijschoolvinden en wij helpen je met het vinden van de best bij jou passende rijschool in {{ city.name }}. Je vraagt je misschien af wat dit moet kosten, want voor wat hoort wat. We kunnen je verzekeren dat gebruik maken van Rijschoolvinden helemaal gratis is!</p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="site-block">
                    {% embed 'AppBundle::Templates/side_waarom_voor_leerlingen.html.twig' %}{% endembed %}
                    {% embed 'AppBundle::Templates/side_testimonial_leerling.html.twig' %}{% endembed %}
                </div>
            </div>
        </div>
    </div>
</section>

{% embed 'AppBundle::Templates/calltoaction.html.twig' %}{% endembed %}

{% embed 'AppBundle::Website/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}














