{% embed 'AppBundle::Website/header.html.twig' %}
    {% block title %}Overzicht steden{% endblock %}
    {% block description %}{% endblock %}
    {% block og_title %}Overzicht steden{% endblock %}
    {% block og_description %}{% endblock %}
{% endembed %}

<!-- Intro -->
<section class="site-section site-section-light site-section-top themed-background-default">
    <div class="container">
        <h1 class="text-center animation-slideDown"><i class="fa fa-building"></i> <strong>Actieve steden</strong></h1>
        <h2 class="h3 text-center animation-slideUp">Voor rijscholen.</h2>
    </div>
</section>
<!-- END Intro -->

<section class="site-content site-section">
    <div class="container">
        <div class="site-block">

            <div class="row default-block">
                <div class="col-xs-12 col-sm-3">
                    {% for city in cities %}
                    {% if loop.index is divisible by(100) %}
                </div>
                <div class="col-xs-12 col-sm-3">
                    {% endif %}
                    <a href="{{ path('leerling_stad', {'city': city.name|replace({' ':'-'})|lower}) }}">Rijscholen in {{ city.name }}</a><br/>
                    {% endfor %}
                </div>
            </div>


            {#<div class="row">#}
                {#<div class="col-xs-12 col-sm-8">#}
                    {#<h3 class="site-heading">Internet en een <strong>goede website</strong> zijn onmisbaar</h3>#}
                    {#<p>Wanneer jongelui tegenwoordig besluiten dat ze hun theorie-examen willen halen of rijlessen willen volgen, pakken ze hun mobiel, tablet of laptop. Vrijwel alles wordt gezocht via het internet. We begrijpen dat het heel wat tijd en moeite kost om uw website continue up-to-date te houden. Maak daarom gebruik van de diensten van Rijschoolvinden.nl en verzeker u zelf van meer dan voldoende potentiële leerlingen.</p>#}
                    {#<h3 class="site-heading">Hoe <strong>werkt</strong> het?</h3>#}
                    {#<p>Het concept is zeer eenvoudig. Wanneer mogelijke leerlingen op onze website terecht komen, maken zij eerst duidelijk of ze theorielessen of praktijklessen willen volgen. Daarna geven ze aan of het gaat om een auto,- scooter- of motorrijbewijs. Belangrijk is ook dat ze vermelden in welke stad ze willen lessen. Tenslotte ontvangen wij van de mogelijke leerling de contactgegevens. Wij gaan hiermee aan het werk. Als het om een persoon uit uw omgeving gaat, krijgt u de lead met alle gegevens toegestuurd via de mail. U betaalt per lead en kunt zelf aangeven hoeveel leads u maximaal per maand wilt ontvangen. Zo hoeft u niet bang te zijn voor onvoorziene hoge uitgaven. U bepaalt zelf de limiet. Alle gegevens die wij versturen zijn gescreend.</p>#}
                {#</div>#}
                {#<div class="col-xs-12 col-sm-4">#}
                    {#<div class="site-block">#}
                        {#{% embed 'AppBundle::Templates/side_waarom_rijschool.html.twig' %}{% endembed %}#}
                        {#{% embed 'AppBundle::Templates/side_testimonial_leerling.html.twig' %}{% endembed %}#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        </div>
    </div>
</section>

{% embed 'AppBundle::Templates/calltoaction_rijschool.html.twig' %}{% endembed %}

{% embed 'AppBundle::Website/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}














