{% embed 'AppBundle::Website/header.html.twig' %}
    {% block title %}Veelgestelde Vragen{% endblock %}
    {% block description %}{% endblock %}
    {% block og_title %}Veelgestelde Vragen{% endblock %}
    {% block og_description %}{% endblock %}
{% endembed %}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Veelgestelde vragen</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>Veelgestelde vragen pagina voor leerlingen</p>
        </div>
    </div>
</div>



{% embed 'AppBundle::Website/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}