{% embed 'AppBundle::Website/header.html.twig' %}
    {% block title %}Hoe werkt het?{% endblock %}
    {% block description %}Ben je van plan om je rijbewijs te gaan halen? Wellicht vraag je jezelf nu af welke rijschool je het beste kunt kiezen. Rijschoolvinden.nl helpt je graag bij het vinden van een geschikte rijschool. Het maakt hierbij niet uit welke categorie rijbewijs je wilt behalen. Ook voor het theorie-examen kun je bij ons terecht.{% endblock %}
    {% block og_title %}Hoe werkt het?{% endblock %}
    {% block og_description %}Ben je van plan om je rijbewijs te gaan halen? Wellicht vraag je jezelf nu af welke rijschool je het beste kunt kiezen. Rijschoolvinden.nl helpt je graag bij het vinden van een geschikte rijschool. Het maakt hierbij niet uit welke categorie rijbewijs je wilt behalen. Ook voor het theorie-examen kun je bij ons terecht.{% endblock %}
{% endembed %}

<!-- Intro -->
<section class="site-section site-section-light site-section-top themed-background-default">
    <div class="container">
        <h1 class="text-center animation-slideDown"><i class="fa fa-list-ol"></i> <strong>Hoe werkt het?</strong></h1>
    </div>
</section>
<!-- END Intro -->

<section class="site-content site-section">
    <div class="container">
        <div class="site-block">
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <h3 class="site-heading">Welke <strong>rijschool</strong> kies je?</h3>
                    <p>Ben je van plan om je rijbewijs te gaan halen? Wellicht vraag je jezelf nu af welke rijschool je het beste kunt kiezen. Wij helpen je graag bij het vinden van een geschikte rijschool. Het maakt hierbij niet uit welke categorie rijbewijs je wilt behalen. Ook voor het theorie-cursus kun je bij ons terecht.</p>
                    <h3 class="site-heading">Hoe <strong>werkt</strong> het?</h3>
                    <p>Je hebt vast geen zin en misschien ook niet veel tijd om uitgebreid te gaan zoeken naar de beste rijschool. Gelukkig is dit ook niet meer nodig. Wij doen dit graag voor je, zonder enige kosten!</p>
                    <p>Het enige wat je hoeft te doen is aangeven of het om praktijk of theorie gaat. Daarna maak je duidelijk om welke categorie rijbewijs het gaat, in welke stad je je rijbewijs wilt halen en ten slotte voer je je contactgegevens in. Wij zorgen ervoor dat jouw gegevens terecht komen bij de rijscholen in je regio. Dit scheelt jou een hoop werk, want je hoeft niet zelf allerlei autorijscholen op te zoeken en te vergelijken. Binnen korte tijd ontvang je maximaal 5 offertes en op die manier kies je snel en gemakkelijk een rijschool die bij jou past. Helemaal gratis voor jou.</p>
                    <h3 class="site-heading">Meld je <strong>nu</strong> aan bij <strong>Rijschoolvinden.nl</strong></h3>
                    <p>Ben je 16 jaar of ouder? Dan mag je beginnen met je theorie-cursus. Ben je 16,5 jaar of ouder? In dat geval kun je al een start maken met het behalen van je scooter- en/of autorijbewijs. Het maakt niet uit waar je in Nederland woont, want het is door het hele land mogelijk om gebruik te maken van onze service. Als je zelf op zoek gaat op Google, dan zul je merken dat het aanbod van rijscholen groot is. Ook zijn er veel verschillen tussen de onderlinge rijscholen. Denk hierbij aan prijzen en het lesaanbod.</p>
                    <p>Wij helpen je graag met het vergelijken, zodat je zo snel mogelijk kunt beginnen met de lessen. Daar gaat het ten slotte om. Klik hier om je gegevens in te vullen en ontvang binnenkort, helemaal gratis, bij jou passende offertes.</p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="site-block">
                        {% embed 'AppBundle::Templates/side_waarom_voor_leerlingen.html.twig' %}{% endembed %}
                        {% embed 'AppBundle::Templates/side_testimonial_leerling.html.twig' %}{% endembed %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% embed 'AppBundle::Templates/calltoaction.html.twig' %}{% endembed %}

{% embed 'AppBundle::Website/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}