.sidebar-user {
    padding-left:10px;
}

.sidebar-brand {
    padding:25px 10px 15px 10px;
    display: block;
    height:100%;
    background-color: transparent;
}

a.sidebar-brand:hover
{
    background-color: transparent;
}

.table thead > tr > th {
    font-size:14px;
}

.no-margin-top {
    margin-top:0 !important;
}

.no-margin-bottom {
    margin-bottom:0 !important;
}

#page-content
{
    min-height:95vh;
}

p {
    padding-top:7px !important;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .navbar.navbar-default
    {
        display: none;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
