{% embed 'AppBundle::Website/header.html.twig' %}
    {% block og_title %}{% endblock %}
    {% block title %}Registratie Succesvol{% endblock %}
    {% block og_description %}{% endblock %}
    {% block description %}{% endblock %}
{% endembed %}

{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}

<!-- Intro -->
<section class="site-section site-section-light site-section-top themed-background-default">
    <div class="container">
        <h1 class="text-center animation-slideDown"><i class="fa fa-thumbs-up"></i> <strong>Account activatie succesvol!</strong></h1>
        <h2 class="h3 text-center animation-slideUp">Log nu in het Rijscholen platform</h2>
    </div>
</section>
<!-- END Intro -->

<section class="site-content site-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
                <h3 class="site-heading">Account <strong>activatie</strong> succesvol</h3>
                <p>Gefeliciteerd! Uw account is bij deze geactiveerd. U kunt nu inloggen.</p>
                <a href="{{ path('fos_user_security_login') }}" class="btn btn-info">Klik hier om naar de login pagina te gaan</a>
                <br/><br/>
            </div>
        </div>
    </div>
</section>

{#{% embed 'AppBundle::Templates/calltoaction.html.twig'%}{% endembed %}#}

{% endblock fos_user_content %}

{% embed 'AppBundle::Website/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}

