{% trans_default_domain 'FOSUserBundle' %}

<!-- Intro -->
<section class="site-section site-section-light site-section-top themed-background-default">
    <div class="container">
        <h1 class="text-center animation-slideDown"><i class="fa fa-wpforms"></i> <strong>Registreer nu</strong></h1>
    </div>
</section>
<!-- END Intro -->

<section class="site-content site-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <h3 class="site-heading"><strong>Registreer</strong> nu en krijg <strong>exclusief</strong> toegang tot de <strong>netwerk</strong> van Rijschoolvinden.</h3>
                <p>U zou graag een hoger rendement halen uit uw onderneming? U wilt graag meer passende aanvragen van potentiële leerlingen ontvangen? Maak gebruik van de diensten van Rijschoolvinden.nl.</p>
                <p>U meldt zich aan door onderstaand formulier in te vullen. Dit is geheel vrijblijvend en kosteloos. Wij controleren daarna uw gegevens en zullen uw account activeren.</p>
                <br/>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                        <form action="{{ path('fos_user_registration_register') }}" method="post" id="form-contact" novalidate="novalidate">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="gi gi-building"></i></span>
                                    <input type="email" class="form-control input-lg" id="companyname" name="companyname" placeholder="Bedrijfsnaam.." value="{{ app.request.get('companyname') ? app.request.get('companyname') : '' }}" autofocus>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
                                    <input type="email" class="form-control input-lg" id="email" name="email" placeholder="E-mail adres.." value="{{ app.request.get('email') ? app.request.get('email') : '' }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="gi gi-earphone"></i></span>
                                    <input type="email" class="form-control input-lg" id="phonenumber" name="phonenumber" placeholder="Telefoonnummer.." value="{{ app.request.get('phonenumber') ? app.request.get('phonenumber') : '' }}">
                                </div>
                            </div>
                            <div class="form-group">
                                {#<p>Door de registratie te voltooien geeft u aan dat u akkoord gaat met de <a href="{{ asset('bundles/app/website/doc/algemene-voorwaarden-voor-rijscholen.pdf') }}" target="_blank">algemene voorwaarden</a>.</p>#}
                                <button type="submit" class="btn btn-lg btn-primary btn-block">Registreren</button>
                            </div>
                            <input type="hidden" name="action" value="registration" />
                        </form>
                    </div>
                </div>

                <br/><br/>
            </div>
        </div>
    </div>
</section>

{% embed 'AppBundle::Templates/calltoaction.html.twig'%}{% endembed %}