{% embed 'AppBundle::Admin/header.html.twig' %}
    {% block og_title %}Categorieën - Rijscholen Platform - Rijschoolvinden.nl{% endblock %}
    {% block title %}Categorieën - Rijscholen Platform - Rijschoolvinden.nl{% endblock %}
    {% block og_description %}{% endblock %}
    {% block description %}{% endblock %}
{% endembed %}

<div class="row">
    <div class="col-xs-12 col-sm-9">
        <div class="block">
            <h3 class="site-heading no-margin-top"><strong>Rijles</strong> categorieën</h3>
            <hr>
            <table class="table table-striped table-vcenter">
                <thead>
                <th>Categorie</th>
                <th>Type</th>
                <th></th>
                </thead>
                <tbody>
                {% for userlicence in userLicenses %}
                    <tr>
                        <td>{{ userlicence.licence.name }}</td>
                        <td>{{ userlicence.licence.type|capitalize }}</td>
                        <td class="text-center"><a href="{{ path('admin_category_delete', {'category_id': userlicence.id}) }}" class="btn btn-danger btn-sm">Verwijder</a></td>
                    </tr>
                {% endfor %}
                {% if userLicenses|length == 0 %}
                    <tr>
                        <td colspan="3" class="text-center">Geen actieve rijles categorieën gevonden.<br/></td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
        <div class="block">
            <h3 class="site-heading no-margin-top"><strong>Categorie</strong> toevoegen</h3>
            <hr>
            <form action="{{ path('admin_categories') }}" method="POST">
                <div class="form-group">
                    <select name="license" class="form-control">
                        <option>Selecteer een rijles categorie type</option>
                        {% for licence in licenses %}
                            <option value="{{ licence.id }}">{{ licence.name }} - {{ licence.type }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">

                    <button type="submit" class="btn btn-success btn-block">Toevoegen</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% embed 'AppBundle::Admin/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}