{% embed 'AppBundle::Admin/header.html.twig' %}
    {% block og_title %}Werkgebieden - Rijscholen Platform - Rijschoolvinden.nl{% endblock %}
    {% block title %}Werkgebieden - Rijscholen Platform - Rijschoolvinden.nl{% endblock %}
    {% block og_description %}{% endblock %}
    {% block description %}{% endblock %}
{% endembed %}

<div class="row">
    <div class="col-xs-12 col-sm-9">
        <div class="block">
            <h3 class="site-heading no-margin-top"><strong>Rijles</strong> werkgebieden</h3>
            <hr>
            <table class="table table-striped table-vcenter">
                <thead>
                <th>Rijles werkgebied</th>
                <th>Rijles categorie</th>
                <th>Type</th>
                {#<th>Maandelijks limiet</th>#}
                <th></th>
                </thead>
                <tbody>
                {% for licenceCity in licenceCities %}
                    <tr>
                        <td>{{ licenceCity.city.name }}</td>
                        <td>{{ licenceCity.licence.name }}</td>
                        <td>{{ licenceCity.licence.type|capitalize }}</td>
                        {#<td>#}
                            {#{% if licenceCity.maxLimit is null %}#}
                                {#Onbeperkt#}
                            {#{% else %}#}
                                {#{{ licenceCity.maxLimit }}#}
                            {#{% endif %}#}
                        {#</td>#}
                        <td class="text-center"><a href="{{ path('admin_city_delete', {'licenceCityID': licenceCity.id}) }}" class="btn btn-danger btn-sm">Verwijder</a></td>
                    </tr>
                {% endfor %}
                {% if licenceCities|length == 0 %}
                    <tr>
                        <td colspan="5" class="text-center">Geen actieve rijles werkgebieden gevonden.<br/></td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
        <div class="block">
            <h3 class="site-heading no-margin-top"><strong>Werkgebied</strong> toevoegen</h3>
            <form action="{{ path('admin_cities') }}" method="POST">
                <div class="form-group">
                    <select name="city" class="form-control">
                        <option>Selecteer een stad/gemeente</option>
                        {% for city in cities %}
                            <option value="{{ city.id }}">{{ city.name }} - {{ city.provinceName }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select name="licence" class="form-control">
                        <option>Selecteer een rijbewijstype</option>
                        {% for licence in licences %}
                            <option value="{{ licence.id }}">{{ licence.name }} - {{ licence.type }}</option>
                        {% endfor %}
                    </select>
                </div>
                {#<div class="form-group">#}
                    {#<input type="text" class="form-control" name="limit" placeholder="Vul hier uw limiet per maand in..."/>#}
                    {#<span class="help-block">Vul 0 in om onbeperkte aantal offerteaanvragen te ontvangen.</span>#}
                {#</div>#}
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">Voeg toe</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% embed 'AppBundle::Admin/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}