{% embed 'AppBundle::Admin/header.html.twig' %}
    {% block og_title %}Dashboard - Rijscholen Platform - Rijschoolvinden.nl{% endblock %}
    {% block title %}Dashboard - Rijscholen Platform - Rijschoolvinden.nl{% endblock %}
    {% block og_description %}{% endblock %}
    {% block description %}{% endblock %}
{% endembed %}

<!-- Page content -->

    <!-- eCommerce Dashboard Header -->

    <!-- Quick Stats -->
    <div class="row text-center">
        <div class="col-xs-12 col-sm-6">
            <div class="widget widget-hover-effect2">
                <div class="widget-extra themed-background-dark">
                    <h4 class="widget-content-light"><strong>Offerteaanvragen</strong> deze maand</h4>
                </div>
                <div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen">{{ countThisMonth }}</span></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="widget widget-hover-effect2">
                <div class="widget-extra themed-background-dark">
                    <h4 class="widget-content-light"><strong>Offerteaanvragen</strong> afgelopen maand</h4>
                </div>
                <div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen">{{ countLastMonth }}</span></div>
            </div>
        </div>
        {#<div class="col-sm-6 col-lg-3">#}
            {#<div class="widget widget-hover-effect2">#}
                {#<div class="widget-extra themed-background-dark">#}
                    {#<h4 class="widget-content-light"><strong>Kosten</strong> deze maand</h4>#}
                {#</div>#}
                {#<div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen">€{{ countThisMonth*5.99|number_format(2, '.', ',') }}</span></div>#}
            {#</div>#}
        {#</div>#}
        {#<div class="col-sm-6 col-lg-3">#}
            {#<div class="widget widget-hover-effect2">#}
                {#<div class="widget-extra themed-background-dark">#}
                    {#<h4 class="widget-content-light"><strong>Kosten</strong> afgelopen maand</h4>#}
                {#</div>#}
                {#<div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen">€{{ countLastMonth*5.99|number_format(2, '.', ',') }}</span></div>#}
            {#</div>#}
        {#</div>#}
    </div>
    <!-- END Quick Stats -->

    <!-- Orders and Products -->
    <div class="row">
        <div class="col-xs-12">
            <div class="block">
                <h3 class="site-heading no-margin-top"><strong>Laatste</strong> 20 leads</h3>
                <hr>

                <table class="table table-striped table-vcenter">
                    <thead>
                        <th></th>
                        <th>Datum</th>
                        <th>Naam</th>
                        <th>Stad</th>
                        <th>Type</th>
                        <th></th>
                    </thead>
                    <tbody>
                    {% for lead in userLeads %}
                        <tr class="">
                            <td>
                                {% if lead.reported == constant('STATUS_VALID', lead) %}
                                    <span class="label label-success">Offerteaanvraag geverifieerd</span>
                                {% elseif lead.reported == constant('STATUS_INVALID', lead) %}
                                    <span class="label label-success">Offerteaanvraag gecrediteerd</span>
                                {% elseif lead.reported == constant('STATUS_REPORTED', lead) %}
                                    <span class="label label-danger">Offerteaanvraag gerapporteerd</span>
                                {% endif %}
                            </td>
                            <td>{{ lead.dateTimeEmailed|date('d-m-Y H:i') }}</td>
                            <td>{{ lead.lead.firstName ~ ' ' ~ lead.lead.lastName }}</td>
                            <td>{{ lead.city.name }}</td>
                            <td>{{ lead.lead.licence.name }}</td>
                            <td class="text-center">
                                <a href="{{ path('admin_lead', {'lead_id':lead.lead.id}) }}" class="btn btn-sm btn-primary">Offerteaanvraag details</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <!-- END Latest Orders Content -->
            </div>
            <!-- END Latest Orders Block -->
        </div>
        <div class="col-xs-12">
            <!-- Top Products Block -->
            <div class="block">
                <h3 class="site-heading no-margin-top"><strong>Actieve</strong> werkgebieden <a href="{{ path('admin_cities') }}" class="btn btn-xs btn-primary pull-right" >Wijzig werkgebieden</a></h3>
                <hr>
                <table class="table table-striped table-vcenter">
                    <thead>
                    <th>Rijles werkgebied</th>
                    <th>Rijles categorie</th>
                    <th>Type</th>
                    {#<th>Maandelijks limiet</th>#}
                    </thead>
                    <tbody>
                    {% for licenceCity in licenceCities %}
                        <tr>
                            <td>{{ licenceCity.city.name }}</td>
                            <td>{{ licenceCity.licence.name }}</td>
                            <td>{{ licenceCity.licence.type|capitalize }}</td>
                            {#<td>#}
                                {#{% if licenceCity.maxLimit is null %}#}
                                    {#Onbeperkt#}
                                {#{% else %}#}
                                    {#{{ licenceCity.maxLimit }}#}
                                {#{% endif %}#}
                            {#</td>#}
                        </tr>
                    {% endfor %}
                    {% if licenceCities|length == 0 %}
                        <tr>
                            <td colspan="4" class="text-center">Geen actieve rijles werkgebieden gevonden.<br/></td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
                <!-- END Top Products Content -->
            </div>
            <!-- END Top Products Block -->
        </div>
    </div>
    <!-- END Orders and Products -->

{% embed 'AppBundle::Admin/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}