<!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>{% block title %}{% endblock %}Rijschoolvinden.nl - De plek om rijscholen te vinden.</title>

    <meta name="description" content="ProUI is a Responsive Bootstrap Admin Template created by pixelcave and published on Themeforest.">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/app/admin/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" href="{{ asset('bundles/app/admin/favicon/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ asset('bundles/app/admin/favicon/favicon-16x16.png') }}" sizes="16x16">
    <link rel="manifest" href="{{ asset('bundles/app/admin/favicon/manifest.json') }}">
    <link rel="mask-icon" href="{{ asset('bundles/app/admin/favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <!-- Stylesheets -->
    <!-- Bootstrap is included in its original form, unaltered -->
    <link rel="stylesheet" href="{{ asset('bundles/app/admin/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/admin/css/plugins.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/admin/css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/admin/css/custom.css') }}">

    <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
    <link rel="stylesheet" href="{{ asset('bundles/app/admin/css/themes.css') }}">
    <!-- END Stylesheets -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- Page Wrapper -->

<div id="page-wrapper">
    <!-- Preloader -->
    <!-- Preloader functionality (initialized in js/app.js) - pageLoading() -->
    <!-- Used only if page preloader is enabled from inc/config (PHP version) or the class 'page-loading' is added in #page-wrapper element (HTML version) -->
    <div class="preloader themed-background">
        <h1 class="push-top-bottom text-light text-center"><strong>Rijschool</strong>vinden</h1>
        <div class="inner">
            <h3 class="text-light visible-lt-ie10"><strong>Loading..</strong></h3>
            <div class="preloader-spinner hidden-lt-ie10"></div>
        </div>
    </div>

    <div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">
        <!-- Main Sidebar -->
        <div id="sidebar">
            <!-- Wrapper for scrolling functionality -->
            <div id="sidebar-scroll">
                <!-- Sidebar Content -->
                <div class="sidebar-content">
                    <a href="{{ path('admin_dashboard') }}" class="sidebar-brand">
                        <img src="{{ asset('bundles/app/website/img/rijschoolvinden-logo-white.png') }}" class="img-responsive" />
                    </a>
                    <!-- END User Info -->
                    {% set currentPage = app.request.attributes.get('_route')|replace({'admin_': ''}) %}
                    <!-- Sidebar Navigation -->
                    <ul class="sidebar-nav">
                        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                        <li>
                            <a href="{{ path('adminplus_dashboard', {'_switch_user': '_exit'}) }}"><i class="fa fa-snapchat-ghost sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Exit Godmode</span></a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- END Sidebar Content -->
            </div>
            <!-- END Wrapper for scrolling functionality -->
        </div>
        <!-- END Main Sidebar -->

        <!-- Main Container -->
        <div id="main-container">

            {#<header class="navbar navbar-default">#}
                {#<!-- Left Header Navigation -->#}
                {#<ul class="nav navbar-nav-custom">#}
                    {#<!-- Main Sidebar Toggle Button -->#}
                    {#<li class="hidden-sm hidden-md hidden-lg">#}
                        {#<a href="javascript:void(0)" onclick="handleSidebar('toggle-sidebar');this.blur();">#}
                            {#<i class="fa fa-bars fa-fw"></i>#}
                        {#</a>#}
                    {#</li>#}
                    {#<!-- END Main Sidebar Toggle Button -->#}
                {#</ul>#}
                {#<!-- END Left Header Navigation -->#}
            {#</header>#}
            <!-- END Header -->

            <div id="page-content">

                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}