{% embed 'AppBundle::Admin/header.html.twig' %}
    {% block og_title %}Offerteaanvragen - Rijscholen Platform - Rijschoolvinden.nl{% endblock %}
    {% block title %}Offerteaanvragen - Rijscholen Platform - Rijschoolvinden.nl{% endblock %}
    {% block og_description %}{% endblock %}
    {% block description %}{% endblock %}
{% endembed %}

<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="block full">
            <h3 class="site-heading no-margin-top"><strong>Offerteaanvragen</strong> overzicht</h3>
            <hr>
            <div class="table-responsive">
                <table id="myTable" class="table">
                    <thead>
                    <tr>
                        <th>Status</th>
                        <th>Datum tijdstip</th>
                        <th>Naam</th>
                        <th>Stad</th>
                        <th>Categorie</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for lead in userLeads %}
                        <tr>
                            <td>
                                {% if lead.reported == constant('STATUS_REPORTED', lead) %}
                                    <span class="label label-danger">Offerteaanvraag gerapporteerd</span>
                                {% elseif lead.reported == constant('STATUS_VALID', lead) %}
                                    <span class="label label-success">Offerteaanvraag geverifieerd</span>
                                {% elseif lead.reported == constant('STATUS_INVALID', lead) %}
                                    <span class="label label-success">Offerteaanvraag gecrediteerd</span>
                                {% endif %}
                            </td>
                            <td>{{ lead.dateTimeEmailed|date('d-m-Y H:i') }}</td>
                            <td>{{ lead.lead.firstName ~ ' ' ~ lead.lead.lastName }}</td>
                            <td>{{ lead.lead.city.name }}</td>
                            <td>
                                {% if lead.lead.licence.type == 'theorie' %}
                                    {{ lead.lead.licence.name }} (theorie)
                                {% else %}
                                    {{ lead.lead.licence.name }}
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('admin_lead', {'lead_id':lead.lead.id}) }}" class="btn btn-sm btn-primary">Offerteaanvraag details</a>
                                {#<a href="{{ path('admin_lead_report', {'lead_id':lead.lead.id}) }}" class="btn btn-sm btn-danger" onclick="return confirm('Weet u zeker dat u deze offerteaanvraag wilt rapporteren? Indien blijkt deze offerteaanvraag ongeldig is zal deze niet in rekening gebracht worden.')">Rapporteren</a>#}
                            </td>
                        </tr>
                    {% endfor %}
                    {% if userLeads|length == 0 %}
                        <tr>
                            <td colspan="6" class="text-center">Geen offerteaanvragen ontvangen tot op heden<br/></td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% embed 'AppBundle::Admin/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}