{% embed 'AppBundle::Admin/header.html.twig' %}
    {% block og_title %}Offerteaanvragen - Rijscholen Platform - Rijschoolvinden.nl{% endblock %}
    {% block title %}Offerteaanvragen - Rijscholen Platform - Rijschoolvinden.nl{% endblock %}
    {% block og_description %}{% endblock %}
    {% block description %}{% endblock %}
{% endembed %}

<div class="row">
    <div class="col-xs-12 col-sm-9">
        <div class="block">
            <h3 class="site-heading no-margin-top"><strong>Offerteaanvraag</strong> details</h3>
            <hr>
            <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered" onsubmit="return false;">
                <div class="form-group">
                    <label class="col-md-3 control-label">Status offerteaanvraag</label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            {% if userLead.reported == constant('STATUS_VALID', userLead) %}
                                <span class="label label-success">Offerteaanvraag geverifieerd</span>
                            {% elseif userLead.reported == constant('STATUS_INVALID', userLead) %}
                                <span class="label label-success">Offerteaanvraag gecrediteerd</span>
                            {% elseif userLead.reported == constant('STATUS_REPORTED', userLead) %}
                                <span class="label label-danger">Offerteaanvraag gerapporteerd</span>
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Datum en tijdstip aanvraag</label>
                    <div class="col-md-9">
                        <p class="form-control-static">{{ lead.inserted|date('d-m-Y H:i') }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Naam</label>
                    <div class="col-md-9">
                        <p class="form-control-static">{{ lead.firstName }} {{ lead.lastName }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">E-mail</label>
                    <div class="col-md-9">
                        <p class="form-control-static">{{ lead.emailAddress }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Telefoon</label>
                    <div class="col-md-9">
                        <p class="form-control-static">{{ lead.phoneNumber }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Stad</label>
                    <div class="col-md-9">
                        <p class="form-control-static">{{ lead.city.name }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Rijles categorie</label>
                    <div class="col-md-9">
                        <p class="form-control-static">{{ lead.licence.name }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Ervaring?</label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            {% if lead.experience == 0 %}
                                Nee, heeft geen ervaring.
                            {% elseif lead.experience == 1 %}
                                Ja, heeft al (deels) ervaring.
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Beginmogelijkheid</label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            {% if lead.availability == 0 %}
                                Zo snel mogelijk!
                            {% elseif lead.availability == 1 %}
                                +- 1 week
                            {% elseif lead.availability == 2 %}
                                +- 2 weken
                            {% elseif lead.availability == 3 %}
                                +- 3 weken
                            {% elseif lead.availability == 4 %}
                                Later dan 1 maand
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Contactvoorkeur</label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            {% if lead.contactPreference == 0 %}
                                {#Per telefoon <a href="tel:{{ lead.phoneNumber }}" class="btn btn-primary">Klik hier om direct te bellen</a>#}
                                Per telefoon
                            {% elseif lead.contactPreference == 1 %}
                                {#Per e-mail <a href="mailto:{{ lead.emailAddress }}" class="btn btn-primary">Klik hier om direct te e-mailen</a>#}
                                Per e-mail
                            {% elseif lead.contactPreference == 2 %}
                                {#Per WhatsApp <a href="https://api.whatsapp.com/send?phone={{ lead.phoneNumber }}" class="btn btn-primary">Klik hier om direct te WhatsAppen</a>#}
                                Per WhatsApp
                            {% elseif lead.contactPreference == 3 %}
                                Per post
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="form-group form-actions">
                    <div class="col-md-9">

                {#<button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Opslaan</button>#}

                    </div>
                </div>



            </form>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
        <div class="block">
            <h3 class="site-heading no-margin-top"><strong>Leerling</strong> informatie</h3>
            <hr>
            {% if userLead.student == constant('STUDENT_YES', userLead) %}
                <p>Je hebt aangegeven dat deze offerteaanvraag een student is geworden.</p>
                <p>Bedankt voor het doorgeven!</p>
            {% elseif userLead.student == constant('STUDENT_NO', userLead) %}
                <p>Je hebt aangegeven dat deze offerteaanvraag geen student is geworden.</p>
                <p>Bedankt voor het doorgeven!</p>
            {% else %}
                <p>
                    Is deze offerteaanvraag een leerling gevonden? Laat het ons weten!
                </p>
                <p>
                    <a href="{{ path('admin_student_lead', {'id': userLead.id}) }}" class="btn btn-success btn-block">Ja, deze offerteaanvraag is een leerling geworden!</a>
                </p>
            {% endif %}
        </div>
        {#<div class="block">#}
            {#<h3 class="site-heading no-margin-top"><strong>Offerteaanvraag</strong> rapporteren</h3>#}
            {#<hr>#}
            {#<p>#}
                {#U kunt een offerteaanvraag in de volgende gevallen rapporteren:#}
            {#</p>#}
            {#<ul>#}
                {#<li>Telefoonnummer of e-mail adres ontbreekt;</li>#}
                {#<li>Incorrecte gegevens zijn gebruikt bij de aanvraag;</li>#}
                {#<li>Dubbele aanvragen;</li>#}
            {#</ul>#}
            {#<p>Indien u rapportage geaccepteerd wordt zullen de kosten voor deze offerteaanvraag niet gefactureerd worden. <br/></p>#}

            {#{% if userLead.reported == constant('STATUS_REPORTED', userLead) %}#}
                {#<p>Deze offerte aanvraag is al gerapporteerd.</p>#}
            {#{% elseif userLead.reported == constant('STATUS_VALID', userLead) %}#}
                {#<form action="{{ path('admin_lead_report', {'lead_id':userLead.id}) }}" method="post" class="form-horizontal form-bordered">#}
                    {#<div class="form-group">#}
                        {#<div class="col-xs-12">#}
                            {#<textarea name="reason" class="form-control" placeholder="Vul hier uw reden van rapportage in.."></textarea>#}
                        {#</div>#}
                    {#</div>#}
                    {#<br/>#}
                    {#<div class="form-group form-actions">#}
                        {#<div class="col-xs-12 col-sm-5 col-sm-offset-3">#}
                            {#<button type="submit" class="btn btn-sm btn-danger btn-block" onclick="return confirm('Weet u zeker dat u deze offerteaanvraag wilt rapporteren? Indien blijkt deze offerteaanvraag ongeldig is zal deze niet in rekening gebracht worden.')">Rapporteren</button>#}
                        {#</div>#}
                    {#</div>#}
                {#</form>#}
                {#<br/><br/>#}
                {#<small class="center-block text-center">Weet u het niet zeker of u een offerteaanvraag kunt rapporteren? Stuur dan een mailtje naar <a href="mailto:">info@rijschoolvinden.nl</a>.</small>#}
            {#{% elseif userLead.reported == constant('STATUS_INVALID', userLead) %}#}
                {#<p>Deze offerte aanvraag is al gerapporteerd en gecrediteerd.</p>#}
            {#{% else %}#}
                {#<p>Onbekende status.</p>#}
            {#{% endif %}#}
            {#<br/>#}
        {#</div>#}
    </div>
</div>

{% embed 'AppBundle::Admin/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}