{% embed 'AppBundle::Admin/header.html.twig' %}
    {% block og_title %}Werkgebieden - Rijscholen Platform - Rijschoolvinden.nl{% endblock %}
    {% block title %}Werkgebieden - Rijscholen Platform - Rijschoolvinden.nl{% endblock %}
    {% block og_description %}{% endblock %}
    {% block description %}{% endblock %}
{% endembed %}

<div class="row">
    <div class="col-xs-12 col-sm-9">
        <div class="block">
            <h3 class="site-heading no-margin-top"><strong>Rijles</strong> werkgebieden</h3>
            <hr>
            <table class="table table-striped table-vcenter">
                <thead>
                <th>Rijles categorie</th>
                <th>Type</th>
                <th></th>
                </thead>
                <tbody>
                {#{% for userCity in userCities %}#}
                    {#<tr>#}
                        {#<td>{{ userCity.city.name }}</td>#}
                        {#<td>{{ userCity.city.provinceName }}</td>#}
                        {#<td class="text-center"><a href="{{ path('admin_city_delete', {'city_id': userCity.id}) }}" class="btn btn-danger btn-sm">Verwijder</a></td>#}
                    {#</tr>#}
                {#{% endfor %}#}
                {% if userCities|length == 0 %}
                    <tr>
                        <td colspan="2" class="text-center">Geen actieve rijles categorieën gevonden.<br/></td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
        <div class="block">
            <h3 class="site-heading no-margin-top"><strong>Werkgebied</strong> toevoegen</h3>
            <form action="{{ path('admin_cities') }}" method="POST">
                <div class="form-group">
                    <select name="city" class="form-control">
                        <option>Selecteer een stad</option>
                        {#{% for city in cities %}#}
                            {#<option value="{{ city.id }}">{{ city.name }} - {{ city.provinceName }}</option>#}
                        {#{% endfor %}#}
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">Voeg toe</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% embed 'AppBundle::Admin/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}