{% embed 'AppBundle::Admin/header.html.twig' %}
    {% block og_title %}Instellingen - Rijscholen Platform - Rijschoolvinden.nl{% endblock %}
    {% block title %}Instellingen - Rijscholen Platform - Rijschoolvinden.nl{% endblock %}
    {% block og_description %}{% endblock %}
    {% block description %}{% endblock %}
{% endembed %}

<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="block">
            <h3 class="site-heading no-margin-top"><strong>Bedrijfs</strong>gegevens</h3>
            <hr>
            {% set disabled = "" %}
            {% if app.user.status == constant('STATUS_INACTIVE', app.user) %}
                <div class="alert alert-danger">
                    <p>Voltooi uw account door gegevens aan te vullen. Nadat uw profiel compleet is zal uw account gevalideerd worden. Enkel een gevalideerde account kan leads ontvangen.</p>
                </div>
            {% elseif app.user.status == constant('STATUS_ACTIVATING', app.user) %}
                {% set disabled = "disabled" %}
                <div class="alert alert-warning">
                    <p>U heeft uw gegevens compleet aangeleverd. Uw account wordt momenteel gevalideerd. Het validatie proces kan tot 24 uur duren.</p>
                </div>
            {% elseif app.user.status == constant('STATUS_ACTIVATED', app.user) %}
                {% set disabled = "disabled" %}
                {#<div class="alert alert-success text-center">#}
                    {#<p>Gefeliciteerd! Uw account is gevalideerd! U kunt vanaf nu leads ontvangen.</p>#}
                {#</div>#}
            {% endif %}

            <form action="#" method="post" class="form-horizontal form-bordered">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-text-input">Voornaam*</label>
                    <div class="col-md-9">
                        <input type="text" id="firstname" name="firstname" class="form-control" placeholder="Uw voornaam..." value="{{ app.user.firstname }}" {{ disabled }}>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-text-input">Achternaam*</label>
                    <div class="col-md-9">
                        <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Uw achternaam..." value="{{ app.user.lastname }}" {{ disabled }}>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-text-input">Telefoonnummer*</label>
                    <div class="col-md-9">
                        <input type="text" id="phonenumber" name="phonenumber" class="form-control" placeholder="Uw telefoonnummer..." value="{{ app.user.phonenumber }}" {{ disabled }}>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-text-input">Bedrijfsnaam*</label>
                    <div class="col-md-9">
                        <input type="text" id="companyname" name="companyname" class="form-control" placeholder="Uw bedrijfsnaam..." value="{{ app.user.companyname }}" {{ disabled }}>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-text-input">Adres*</label>
                    <div class="col-md-9">
                        <input type="text" id="address" name="address" class="form-control" placeholder="Uw adres..." value="{{ app.user.address }}" {{ disabled }}>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-text-input">Huisnummer*</label>
                    <div class="col-md-9">
                        <input type="text" id="housenumber" name="housenumber" class="form-control" placeholder="Uw huisnummer..." value="{{ app.user.housenumber }}" {{ disabled }}>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-text-input">Postcode*</label>
                    <div class="col-md-9">
                        <input type="text" id="zipcode" name="zipcode" class="form-control" placeholder="Uw postcode..." value="{{ app.user.zipcode }}" {{ disabled }}>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-text-input">Stad*</label>
                    <div class="col-md-9">
                        <input type="text" id="city" name="city" class="form-control" placeholder="Uw stad..." value="{{ app.user.city }}" {{ disabled }}>
                    </div>
                </div>
                {% if disabled != 'disabled' %}
                    <div class="form-group form-actions">
                        <div class="col-md-9 col-md-offset-3">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Valideer mijn account</button>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group"><br/>
                        {#<label class="col-md-3 control-label" for="example-text-input">Stad*</label>#}
                        <div class="col-md-12">
                            <p class="text-center">Wilt u wijzigingen aanbrengen aan uw gegevens? Stuur dan een mailtje met uw nieuwe gegevens naar <a href="mailto:info@rijschoolvinden.nl?subject=Gegevens%20updaten">info@rijschoolvinden.nl</a>.</p>
                        </div>
                    </div>

                {% endif %}
            </form>
        </div>

        <div class="block">
            <h3 class="site-heading no-margin-top"><strong>Automatische</strong> incasso</h3>
            <p>Deze functionaliteit wordt binnenkort toegevoegd.</p>
            <hr>
            <form action="#" method="post" class="form-horizontal form-bordered">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="current-password">IBAN rekeningnummer</label>
                    <div class="col-md-9">
                        <input type="text" id="iban" name="iban" class="form-control" placeholder="IBAN rekeningnummer..." disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="password">BIC (swift) code</label>
                    <div class="col-md-9">
                        <input type="text" id="bic" name="bic" class="form-control" placeholder="Bic/swift nummer..." disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="password-repeat">Kamer van Koophandel nummer</label>
                    <div class="col-md-9">
                        <input type="text" id="kvk" name="kvk" class="form-control" placeholder="Kamer van Koophandel nummer..." disabled>
                    </div>
                </div>
                {#<div class="form-group form-actions">#}
                    {#<div class="col-md-9 col-md-offset-3">#}
                        {#<button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Opslaan</button>#}
                    {#</div>#}
                {#</div>#}
            </form>
        </div>

        {#<div class="block">#}
            {#<!-- Top Products Title -->#}
            {#<h3 class="site-heading no-margin-top"><strong>Lead</strong> instellingen</h3>#}
            {#<hr>#}
            {#<form action="{{ path('admin_settings_leads') }}" method="post" class="form-horizontal form-bordered">#}
                {#<div class="form-group">#}
                    {#<label class="col-md-3 control-label" for="amount">Hoeveel leads wilt u per maand ontvangen? </label>#}
                    {#<div class="col-md-9">#}
                        {#<input type="text" id="amount" name="amount" class="form-control" placeholder="Vul een aantal in..." value="{{ leadspm.value }}">#}
                        {#<span class="help-block">Let op: Het aantal leads per maand is niet gebonden per stad maar per account. Bent u actief in meerdere werkgebieden? Dan raden wij een hoger aantal aan.</span>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="form-group form-actions">#}
                    {#<div class="col-md-9 col-md-offset-3">#}
                        {#<button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Opslaan</button>#}
                    {#</div>#}
                {#</div>#}
            {#</form>#}
        {#</div>#}

    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="block">
            <h3 class="site-heading no-margin-top"><strong>Account</strong> instellingen</h3>
            <hr>

            <form action="{{ path('admin_setting_details') }}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered" onsubmit="return false;">
                <div class="form-group">
                    <label class="col-md-3 control-label">Account status</label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            {% if app.user.status == constant('STATUS_INACTIVE', app.user) %}
                                <span class="label label-default">Valideer uw account</span>
                            {% elseif app.user.status == constant('STATUS_ACTIVATING', app.user) %}
                                <span class="label label-warning">Wachten op validatie</span>
                            {% elseif app.user.status == constant('STATUS_ACTIVATED', app.user) %}
                                <span class="label label-success">Gevalideerd</span>
                            {% endif %}

                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Gebruikersnaam</label>
                    <div class="col-md-9">
                        <p class="form-control-static">{{ app.user.username }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Account type</label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            {% if is_granted('ROLE_ADMIN') %}
                                Administrator
                            {% elseif is_granted('ROLE_RIJSCHOOL') %}
                                Rijschool
                            {% elseif is_granted('ROLE_LEERLING') %}
                                Leerling
                            {% else %}
                                Onbekend
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Abonnementsvorm</label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            {% if app.user.subscriptionType == constant('SUBSCRIPTION_QUARTERLY', app.user) %}
                                Kwartaal
                            {% elseif app.user.subscriptionType == constant('SUBSCRIPTION_YEARLY', app.user) %}
                                Jaarlijks
                            {% elseif app.user.subscriptionType == constant('SUBSCRIPTION_LEGACY', app.user) %}
                                Betaling per aanvraag
                            {% else %}
                                Onbekend
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Lid sinds:</label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            {{ app.user.registrationDate|date('d-m-Y') }}
                        </p>
                    </div>
                </div>
            </form>
        </div>
        <div class="block">
            <h3 class="site-heading no-margin-top"><strong>Wachtwoord</strong> wijzigen</h3>
            <hr>
            <form action="{{ path('admin_setting_password') }}" method="post" class="form-horizontal form-bordered">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="current-password">Huidige wachtwoord</label>
                    <div class="col-md-9">
                        <input type="password" id="current-password" name="current-password" class="form-control" placeholder="Huidige wachtwoord...">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="password">Nieuwe wachtwoord</label>
                    <div class="col-md-9">
                        <input type="password" id="password" name="password" class="form-control" placeholder="Nieuwe wachtwoord...">
                        <span class="help-block">Minimaal 8 tekens, waaronder 1 cijfer, 1 hoofdletter en 1 kleine letter.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="password-repeat">Herhaal nieuwe wachtwoord</label>
                    <div class="col-md-9">
                        <input type="password" id="password-repeat" name="password-repeat" class="form-control" placeholder="Herhaal nieuwe wachtwoord...">
                    </div>
                </div>
                <div class="form-group form-actions">
                    <div class="col-md-9 col-md-offset-3">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Opslaan</button>
                    </div>
                </div>
            </form>
        </div>

        {#<div class="block">#}
            {#{% if app.user.status == constant('STATUS_DEACTIVATED', app.user) %}#}
                {#<h3 class="site-heading no-margin-top"><strong>Account</strong> heractiveren</h3>#}
                {#<hr>#}
                {#<p>Uw account is geactiveerd. U ontvangt per direct geen offerteaanvragen meer. <br/>De offerteaanvragen die u tot op heden heeft ontvangen worden echter wel in rekening gebracht of zijn al in rekening gebracht.</p>#}
                {#<p>Wilt u weer offerteaanvragen ontvangen? U kunt per direct uw account heractiveren. Klik op het onderstaande knop om uw account te heractiveren.</p>#}
                {#<a href="{{ path('admin_setting_activate') }}" class="btn btn-sm btn-success" onclick="return confirm('Weet u zeker dat u uw account wilt activeren? U zult per direct leads weer ontvangen.')">Ja, ik wil graag mijn account heractiveren en ben op de hoogte dat ik per direct leads zal ontvangen.</a>#}
                {#<br/><br/>#}
            {#{% elseif app.user.status == constant('STATUS_ACTIVATED', app.user) %}#}
                {#<h3 class="site-heading no-margin-top"><strong>Account</strong> tijdelijk deactiveren</h3>#}
                {#<hr>#}
                {#<p>U kunt uw account tijdelijk deactiveren en dan terugkeren wanneer u wilt.</p>#}
                {#<p>Als u uw account deactiveert ontvangt u per direct geen offerteaanvragen meer. De offerteaanvragen die u tot op heden heeft ontvangen worden echter wel in rekening gebracht. U kunt uw account altijd heractiveren door in te loggen en bij de instellingen de heractivatie knop in te drukken. U zult dan per direct weer leads ontvangen.</p>#}
                {#<p>Indien u er zeker van bent dat u uw account wilt deactiveren klik dan op het onderstaande knop:<br/><br/><a href="{{ path('admin_setting_deactivate') }}" class="btn btn-sm btn-danger" onclick="return confirm('Weet u zeker dat u uw account wilt deactiveren? U zult per direct geen leads meer ontvangen. Openstaande leads worden achteraf wel gefactureerd.')">Ja, ik wil graag mijn account (tijdelijk) deactiveren en ben op de hoogte dat ik geen leads meer zal ontvangen.</a></p>#}
            {#{% endif %}#}
        {#</div>#}
    </div>
</div>

{% embed 'AppBundle::Admin/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}