{% embed 'AppBundle::Admin/header-clean.html.twig' %}
    {% block og_title %}Registratie voltooid - Rijscholen Platform - Rijschoolvinden.nl{% endblock %}
    {% block title %}Registratie voltooid - Rijscholen Platform - Rijschoolvinden.nl{% endblock %}
    {% block og_description %}{% endblock %}
    {% block description %}{% endblock %}
{% endembed %}

<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="block">
            <h3 class="site-heading no-margin-top"><strong>Gefeliciteerd!</strong></h3>
            <p>Uw registratie is nu succesvol voltooid. Nadat uw account gevalideerd is (meestal binnen een uur) kunt u leads ontvangen. Ondertussen kunt u kijken hoe Rijschoolvinden.nl werkt en uw instellingen verder aanpassen.</p>
            <hr>
            <h3 class="site-heading no-margin-top">Mijn <strong>registratie</strong> is klaar. Wat kan ik nu doen?</h3>
            <p>In de menubalk aan de linkerkant kunt u navigeren in uw account.</p>
            <p>Het werkgebied die u zojuist hebt ingevuld zijn nu te vinden op <strong>Werkgebieden</strong>. Als u meerdere werkgebieden en categorieën wilt toevoegen, kunt u dat hier invullen aan de rechterkant van de pagina zoais u kunt zien in de afbeelding hieronder.</p>
            <img src="{{ asset('bundles/app/admin/img/werkgebied-voorbeeld.png') }}" class="img-responsive" />
            <p>Ten slotte kunt u nog op <strong>Instellingen</strong> nog (eventueel) een automatische incasso instellen.</p>
            <hr>
            <h3 class="site-heading no-margin-top">Hoe trek ik <strong>leerlingen</strong> aan?</h3>
            <p>Na het instellen van de werkgebieden is het aan ons om de leerlingen te vinden. Wanneer een leerling zich heeft ingeschreven, vult hij of zij zijn gegevens in. Als alle criteria overeenkomen met uw rijschool ontvangt u een offerte. Deze worden per mail verzonden, en kunnen ook nog eens teruggevonden worden onder <strong>Dashboard</strong> en <strong>Offerteaanvragen</strong> zoals in de afbeeldingen hieronder.</p>
            <img src="{{ asset('bundles/app/admin/img/offerteaanvraag-voorbeeld.jpg') }}" class="img-responsive" />
            <p>De potentiële leerling geeft aan hoe hij of zij benaderd wil worden en u kunt direct contact opnemen met de leerling.</p>
            <hr>
            {#<h3 class="site-heading no-margin-top">Hoeveel gaat dit mij <strong>kosten</strong>?</h3>#}
            {#<p>Zolang u geen offertes ontvangt, hoeft u ook niks te betalen. U betaald alleen voor de offertes die u ontvangt. Per offerte betaalt u maar €5,99.</p>#}
            {#<p>Incorrecte offertes proberen wij zoveel mogelijk te verwijderen voordat u deze ontvangt, maar mocht het toch zo zijn dat u een offerte ontvangt waarvan bijvoorbeeld het mail adres of telefoonnummer niet klopt, kan deze aangegeven worden en hoeft natuurlijk niet voor betaald te worden.</p>#}
            {#<p>Mochten er iets niet duidelijk zijn, zijn de veel gestelde vragen te vinden onder <strong>Veelgestelde vragen</strong>, of u kunt nog altijd contact opnemen met ons.</p>#}
            {#<hr>#}
            {#<form action="{{ path('admin_welcome') }}" method="POST">#}
                {#<input type="checkbox" name="welcome" value="1" /> Ja, ik heb alles gelezen en ga akkoord met de <a href="{{ asset('bundles/app/website/doc/algemene-voorwaarden-voor-rijscholen.pdf') }}" target="_blank">algemene voorwaarden</a>.<br/>#}
            {#<br/>#}
            <form action="{{ path('admin_welcome') }}" method="POST">
                <input type="hidden" name="welcome" value="1" />
                <input type="submit" class="btn btn-sm btn-primary" value="Laten we beginnen!" />
            </form>
            <br/><br/>
        </div>
    </div>
</div>

{% embed 'AppBundle::Admin/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}