{% embed 'AppBundle::Admin/header-clean.html.twig' %}
    {% block og_title %}Instellingen - Rijscholen Platform - Rijschoolvinden.nl{% endblock %}
    {% block title %}Instellingen - Rijscholen Platform - Rijschoolvinden.nl{% endblock %}
    {% block og_description %}{% endblock %}
    {% block description %}{% endblock %}
{% endembed %}

<div class="row">

    <div class="col-xs-12 col-md-8 col-md-offset-2">

    <div class="block">
    <h2><strong>Doorloop</strong> de stappen om uw account te <strong>activeren.</strong></h2>
    <br/><br/>
    <form id="clickable-wizard" action="{{ path('admin_wizard') }}" method="post" class="form-horizontal form-bordered">
        <!-- First Step -->
        <div id="clickable-first" class="step">
            <!-- Step Info -->
            <div class="form-group">
                <div class="col-xs-12">
                    <ul class="nav nav-pills nav-justified clickable-steps">
                        <li class="active"><a href="javascript:void(0)" data-gotostep="clickable-first"><strong>1. Aanvullende gegevens</strong></a></li>
                        <li><a href="javascript:void(0)" data-gotostep="clickable-second"><strong>2. Rijschool instellingen</strong></a></li>
                        <li><a href="javascript:void(0)" data-gotostep="clickable-third"><strong>3. Abonnementsvorm</strong></a></li>
                    </ul>
                </div>
            </div>
            <!-- END Step Info -->
            <div class="form-group">
                <label class="col-md-3 control-label" for="example-text-input">Voornaam*</label>
                <div class="col-md-9">
                    <input type="text" id="firstname" name="firstname" class="form-control" placeholder="Uw voornaam..." value="{{ app.request.get('firstname') }}" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="example-text-input">Achternaam*</label>
                <div class="col-md-9">
                    <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Uw achternaam..." value="{{ app.request.get('lastname') }}" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="example-text-input">Telefoonnummer*</label>
                <div class="col-md-9">
                    <input type="text" id="phonenumber" name="phonenumber" class="form-control" placeholder="Uw telefoonnummer..." value="{{ app.user.phonenumber }}" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="example-text-input">Bedrijfsnaam*</label>
                <div class="col-md-9">
                    <input type="text" id="companyname" name="companyname" class="form-control" placeholder="Uw bedrijfsnaam..." value="{{ app.user.companyname }}" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="example-text-input">Adres*</label>
                <div class="col-md-9">
                    <input type="text" id="address" name="address" class="form-control" placeholder="Uw adres..." value="{{ app.request.get('address') }}" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="example-text-input">Huisnummer*</label>
                <div class="col-md-9">
                    <input type="text" id="housenumber" name="housenumber" class="form-control" placeholder="Uw huisnummer..." value="{{ app.request.get('housenumber') }}" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="example-text-input">Postcode*</label>
                <div class="col-md-9">
                    <input type="text" id="zipcode" name="zipcode" class="form-control" placeholder="Uw postcode..." value="{{ app.request.get('zipcode') }}" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="example-text-input">Stad*</label>
                <div class="col-md-9">
                    <input type="text" id="city" name="city" class="form-control" placeholder="Uw stad..." value="{{ app.request.get('city') }}" required>
                </div>
            </div>
        </div>

        <!-- Second Step -->
        <div id="clickable-second" class="step">
            <!-- Step Info -->
            <div class="form-group">
                <div class="col-xs-12">
                    <ul class="nav nav-pills nav-justified clickable-steps">
                        <li><a href="javascript:void(0)" data-gotostep="clickable-first"><strong>1. Aanvullende gegevens</strong></a></li>
                        <li class="active"><a href="javascript:void(0)" data-gotostep="clickable-second"><strong>2. Rijschool instellingen</strong></a></li>
                        <li><a href="javascript:void(0)" data-gotostep="clickable-third"><strong>3. Abonnementsvorm</strong></a></li>
                    </ul>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label" for="example-text-input">In welke stad/gemeente bent u momenteel actief?</label>
                <div class="col-md-9">
                    <select name="rijschool-city" class="form-control">
                        <option></option>
                        {% for city in cities %}
                            <option value="{{ city.id }}">{{ city.name }} - {{ city.provinceName }}</option>
                        {% endfor %}
                    </select>
                    <span class="help-block">Je kunt later meerdere steden toevoegen.</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label" for="example-text-input">In welke rijbewijs categorieën geeft u les in?</label>
                <div class="col-md-9">
                    <select name="rijschool-licence" class="form-control">
                        <option></option>
                        {% for licence in licenses %}
                            {% if app.request.get('rijschool-licence') ==  licence.name %}
                                {% set selected = 'selected' %}
                            {% else %}
                                {% set selected = '' %}
                            {% endif %}
                            <option value="{{ licence.id }}" {{ selected }}>{{ licence.name }} - {{ licence.type }}</option>
                        {% endfor %}
                    </select>
                    <span class="help-block">Je kunt later meerdere rijbewijs categorieën toevoegen.</span>
                </div>
            </div>

            {#<div class="form-group">#}
                {#<label class="col-md-3 control-label" for="amount">Hoeveel offerteaanvragen wilt u per maand ontvangen voor deze categorie en stad combinatie?</label>#}
                {#<div class="col-md-9">#}
                    {#<input type="text" name="rijschool-amount" class="form-control" placeholder="Vul een aantal in..." value="{{ app.request.get('rijschool-amount') }}">#}
                    {#<span class="help-block" style="color:red;">Vul 'geen' om geen offerteaanvragen te ontvangen.<br/>Vul 0 in om onbeperkte aantal offerteaanvragen te ontvangen.</span>#}
                {#</div>#}
            {#</div>#}

        </div>

        <div id="clickable-third" class="step">
            <div class="form-group">
                <div class="col-xs-12">
                    <ul class="nav nav-pills nav-justified clickable-steps">
                        <li><a href="javascript:void(0)" data-gotostep="clickable-first"><strong>1. Aanvullende gegevens</strong></a></li>
                        <li><a href="javascript:void(0)" data-gotostep="clickable-second"><strong>2. Rijschool instellingen</strong></a></li>
                        <li class="active"><a href="javascript:void(0)" data-gotostep="clickable-third"><strong>3. Abonnementsvorm</strong></a></li>
                    </ul>
                </div>
            </div>
            <br/><br/><br/>

            <div class="row">
                <div class="col-xs-12 col-sm-3 col-sm-offset-3">
                    <table class="table table-borderless table-pricing">
                        <thead>
                        <tr>
                            <th>Kwartaal model</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><strong>Volledig</strong> functionaliteit</td>
                        </tr>
                        <tr>
                            <td><strong>Onbeperkt</strong> aantal offerteaanvragen</td>
                        </tr>
                        <tr>
                            <td>Opzeggen kan per kwartaal.<br/>Geen opzegtermijn!</td>
                        </tr>
                        <tr>
                            <td>Ontvang uw factuur na <strong>5</strong> leads</td>
                        </tr>
                        <tr>
                            <td class="table-price">
                                <h1>€49,-<br><small>per kwartaal (ex btw)</small></h1>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="radio" name="abonnement" value="1" /> Ik wil een kwartaal model en ga akkoord met de <a href="{{ asset('bundles/app/website/doc/algemene-voorwaarden-voor-rijscholen.pdf') }}" target="_blank">algemene voorwaarden</a>.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <table class="table table-borderless table-pricing">
                        <thead>
                        <tr>
                            <th>Jaarlijks model</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><strong>Volledig</strong> functionaliteit</td>
                        </tr>
                        <tr>
                            <td><strong>Onbeperkt</strong> aantal offerteaanvragen</td>
                        </tr>
                        <tr>
                            <td>Opzeggen kan per jaar.<br/>Geen opzegtermijn!</td>
                        </tr>
                        <tr>
                            <td>Ontvang uw factuur na <strong>10</strong> leads</td>
                        </tr>
                        <tr>
                            <td class="table-price">
                                <h1><strike>€196,-</strike></h1>
                                <h1>€149,-<br><small>per jaar (ex btw)</small></h1>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="radio" name="abonnement" value="2" />  Ik wil een jaarlijks model en ga akkoord met de <a href="{{ asset('bundles/app/website/doc/algemene-voorwaarden-voor-rijscholen.pdf') }}" target="_blank">algemene voorwaarden</a>.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <!-- Form Buttons -->
        <div class="form-group form-actions">
            <div class="col-xs-12 text-right">
                <button type="reset" class="btn btn-md btn-primary">Vorige stap</button>
                <button type="submit" class="btn btn-md btn-primary">Volgende stap</button>
            </div>
        </div>
        <!-- END Form Buttons -->
    </form>
    <!-- END Clickable Wizard Content -->
</div>
    </div>

</div>

<!-- END Clickable Wizard Block -->



{% embed 'AppBundle::Admin/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}