{% embed 'AppBundle::AdminPlus/header.html.twig' %}
    {% block og_title %}Dashboard - Rijscholen Platform - Rijschoolvinden.nl{% endblock %}
    {% block title %}Dashboard - Rijscholen Platform - Rijschoolvinden.nl{% endblock %}
    {% block og_description %}{% endblock %}
    {% block description %}{% endblock %}
{% endembed %}


<!-- Orders and Products -->
<div class="row">
    <div class="col-xs-12">
        <!-- Top Products Block -->
        <div class="block">

            <h2>Dashboard</h2>
            <hr>

        </div>
    </div>
</div>
<!-- Page content -->

    <!-- eCommerce Dashboard Header -->

    <!-- Quick Stats -->
    {#<div class="row text-center">#}
        {#<div class="col-sm-6 col-lg-3">#}
            {#<div class="widget widget-hover-effect2">#}
                {#<div class="widget-extra themed-background-dark">#}
                    {#<h4 class="widget-content-light"><strong>Leads</strong> deze maand</h4>#}
                {#</div>#}
                {#<div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen">{{ countThisMonth }}</span></div>#}
            {#</div>#}
        {#</div>#}
        {#<div class="col-sm-6 col-lg-3">#}
            {#<div class="widget widget-hover-effect2">#}
                {#<div class="widget-extra themed-background-dark">#}
                    {#<h4 class="widget-content-light"><strong>Leads</strong> afgelopen maand</h4>#}
                {#</div>#}
                {#<div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen">{{ countLastMonth }}</span></div>#}
            {#</div>#}
        {#</div>#}
        {#<div class="col-sm-6 col-lg-3">#}
            {#<div class="widget widget-hover-effect2">#}
                {#<div class="widget-extra themed-background-dark">#}
                    {#<h4 class="widget-content-light"><strong>Kosten</strong> deze maand</h4>#}
                {#</div>#}
                {#<div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen">€{{ countThisMonth*5.99|number_format(2, '.', ',') }}</span></div>#}
            {#</div>#}
        {#</div>#}
        {#<div class="col-sm-6 col-lg-3">#}
            {#<div class="widget widget-hover-effect2">#}
                {#<div class="widget-extra themed-background-dark">#}
                    {#<h4 class="widget-content-light"><strong>Kosten</strong> afgelopen maand</h4>#}
                {#</div>#}
                {#<div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen">€{{ countLastMonth*5.99|number_format(2, '.', ',') }}</span></div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    <!-- END Quick Stats -->

    <!-- Orders and Products -->
    {#<div class="row">#}
        {#<div class="col-xs-12">#}
            {#<!-- Latest Orders Block -->#}
            {#<div class="block">#}
                {#<!-- Latest Orders Title -->#}
                {#<div class="block-title">#}
                    {#<h2><strong>Afgelopen</strong> 20 leads</h2>#}
                {#</div>#}
                {#<!-- END Latest Orders Title -->#}

                {#<!-- Latest Orders Content -->#}
                {#<table class="table table-borderless table-striped table-vcenter table-bordered">#}
                    {#<thead>#}
                        {#<th class="text-center"></th>#}
                        {#<th class="text-center">Datum</th>#}
                        {#<th class="text-center">Naam</th>#}
                        {#<th class="text-center">Stad</th>#}
                        {#<th class="text-center">Type</th>#}
                        {#<th class="text-center"></th>#}
                    {#</thead>#}
                    {#<tbody>#}
                    {#{% for lead in userLeads %}#}
                        {#<tr class="text-center">#}
                            {#<td>#}
                                {#{% if lead.lead.status == constant('STATUS_NEW', lead.lead) %}#}
                                    {#<span class="label label-primary">Nieuwe lead</span>#}
                                {#{% elseif lead.lead.status == constant('STATUS_EMAILED', lead.lead) %}#}
                                    {#<span class="label label-success">Lead verzonden per e-mail</span>#}
                                {#{% elseif lead.lead.status == constant('STATUS_REPORTED', lead.lead) %}#}
                                    {#<span class="label label-danger">Lead gerapporteerd</span>#}
                                {#{% elseif lead.lead.status == constant('STATUS_VALID', lead.lead) %}#}
                                    {#<span class="label label-success">Lead geverifieerd</span>#}
                                {#{% elseif lead.lead.status == constant('STATUS_INVALID', lead.lead) %}#}
                                    {#<span class="label label-default">Lead gecrediteerd</span>#}
                                {#{% endif %}#}
                            {#</td>#}
                            {#<td>{{ lead.dateTimeEmailed|date('d-m-Y H:i') }}</td>#}
                            {#<td>{{ lead.lead.firstName ~ ' ' ~ lead.lead.lastName }}</td>#}
                            {#<td>{{ lead.city.name }}</td>#}
                            {#<td>{{ lead.lead.licence.name }}</td>#}
                            {#<td class="text-center">#}
                                {#<a href="{{ path('admin_lead', {'lead_id':lead.lead.id}) }}" class="btn btn-sm btn-primary">Lead details</a>#}
                                {#<a href="{{ path('admin_lead_report', {'lead_id':lead.lead.id}) }}" class="btn btn-sm btn-danger" onclick="return confirm('Weet u zeker dat u deze lead wilt rapporteren?')">Rapporteren</a>#}
                            {#</td>#}
                        {#</tr>#}
                    {#{% endfor %}#}
                    {#</tbody>#}
                {#</table>#}
                {#<!-- END Latest Orders Content -->#}
            {#</div>#}
            {#<!-- END Latest Orders Block -->#}
        {#</div>#}
        {#<div class="col-xs-12 col-sm-6">#}
            {#<!-- Top Products Block -->#}
            {#<div class="block">#}
                {#<!-- Top Products Title -->#}
                {#<div class="block-title">#}
                    {#<h2><strong>Actieve</strong> werkgebieden</h2>#}
                {#</div>#}
                {#<!-- END Top Products Title -->#}

                {#<!-- Top Products Content -->#}
                {#<table class="table table-striped table-vcenter table-bordered">#}
                    {#<thead>#}
                        {#<th class="text-center">Stad</th>#}
                        {#<th class="text-center">Provincie</th>#}
                    {#</thead>#}
                    {#<tbody>#}
                    {#{% for usercity in userCities %}#}
                        {#<tr class="text-center">#}
                            {#<td>{{ usercity.city.name }}</td>#}
                            {#<td>{{ usercity.city.provincename }}</td>#}
                        {#</tr>#}
                    {#{% endfor %}#}
                    {#{% if userCities.count == 0 %}#}
                        {#<tr>#}
                            {#<td colspan="2" class="text-center">Geen actieve steden gevonden.<br/>U kunt deze activeren bij de <a href="#">werkgebieden</a> pagina.</td>#}
                        {#</tr>#}
                    {#{% endif %}#}
                    {#</tbody>#}
                {#</table>#}
                {#<!-- END Top Products Content -->#}
            {#</div>#}
            {#<!-- END Top Products Block -->#}
        {#</div>#}
        {#<div class="col-xs-12 col-sm-6">#}
            {#<!-- Top Products Block -->#}
            {#<div class="block">#}
                {#<!-- Top Products Title -->#}
                {#<div class="block-title">#}
                    {#<h2><strong>Actieve</strong> rijles categorieën</h2>#}
                {#</div>#}
                {#<!-- END Top Products Title -->#}

                {#<!-- Top Products Content -->#}
                {#<table class="table table-striped table-vcenter table-bordered">#}
                    {#<thead>#}
                    {#<th class="text-center">Categorie</th>#}
                    {#<th class="text-center">Type</th>#}
                    {#</thead>#}
                    {#<tbody>#}
                    {#{% for userlicence in userLicenses %}#}
                        {#<tr class="text-center">#}
                            {#<td>{{ userlicence.licence.name }}</td>#}
                            {#<td>{{ userlicence.licence.type|capitalize }}</td>#}
                        {#</tr>#}
                    {#{% endfor %}#}
                    {#{% if userLicenses.count == 0 %}#}
                        {#<tr>#}
                            {#<td colspan="2" class="text-center">Geen actieve rijles categorieën gevonden.<br/>U kunt deze activeren bij de <a href="#">Categorieën</a> pagina.</td>#}
                        {#</tr>#}
                    {#{% endif %}#}
                    {#</tbody>#}
                {#</table>#}
                {#<!-- END Top Products Content -->#}
            {#</div>#}
            {#<!-- END Top Products Block -->#}
        {#</div>#}
    {#</div>#}
    <!-- END Orders and Products -->
<!-- END Page Content -->



{% embed 'AppBundle::AdminPlus/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}