{% embed 'AppBundle::AdminPlus/header.html.twig' %}
    {% block og_title %}Leads - Rijscholen Platform - Rijschoolvinden.nl{% endblock %}
    {% block title %}Leads - Rijscholen Platform - Rijschoolvinden.nl{% endblock %}
    {% block og_description %}{% endblock %}
    {% block description %}{% endblock %}
{% endembed %}

<div class="row">
    <div class="col-xs-12 col-md-8">
        <div class="block">
            <h3 class="site-heading no-margin-top"><strong>Lead</strong> gegevens</h3>
            <hr>
            <form action="{{ path('adminplus_save_lead', {'id':lead.id}) }}" method="post" class="form-horizontal form-bordered">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-text-input">Voornaam</label>
                    <div class="col-md-9">
                        <input type="text" id="firstname" name="firstname" class="form-control" placeholder="Voornaam..." value="{{ lead.firstname }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-text-input">Achternaam</label>
                    <div class="col-md-9">
                        <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Achternaam..." value="{{ lead.lastname }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-text-input">Telefoonnummer</label>
                    <div class="col-md-9">
                        <input type="text" id="phonenumber" name="phonenumber" class="form-control" placeholder="Telefoonnummer..." value="{{ lead.phonenumber }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-text-input">E-mail adres</label>
                    <div class="col-md-9">
                        <input type="text" id="emailaddress" name="emailaddress" class="form-control" placeholder="Email adres..." value="{{ lead.emailAddress }}">
                    </div>
                </div>
                <div class="form-group form-actions">
                    <div class="col-md-9 col-md-offset-3 text-right">
                        <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-angle-right"></i> Update gegevens</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="block">
            <h3 class="site-heading no-margin-top"><strong>Lead</strong> verzonden aan</h3>
            <hr>
            <table class="table table-striped">
                <thead>
                <th>Datum aanvraag verzonden</th>
                <th>Bedrijfsnaam</th>
                <th>Naam</th>
                <th>Status</th>
                <th>Reden</th>
                <th></th>
                </thead>
                <tbody>
                {% for lead in userLeads %}
                    <tr>

                        <td>{{ lead.dateTimeEmailed|date('d-m-Y H:i') }}</td>
                        <td>{{ lead.user.companyName }}</td>
                        <td>{{ lead.user.firstName }} {{ lead.user.lastName }}</td>
                        <td>
                            {% if lead.reported == constant('STATUS_REPORTED', lead) %}
                                <span class="label label-warning">Gerapporteerd</span>
                            {% elseif lead.reported == constant('STATUS_VALID', lead) %}
                                <span class="label label-success">Lead goedgekeurd</span>
                            {% elseif lead.reported == constant('STATUS_INVALID', lead) %}
                                <span class="label label-danger">Gecrediteerd</span>
                            {% endif %}
                        </td>
                        <td>
                        {% if lead.reported == constant('STATUS_VALID', lead) and lead.reportReason is not null %}
                            <strike>{{ lead.reportReason }}</strike>
                            {% else %}
                            {{ lead.reportReason }}
                        {% endif %}
                        </td>
                        <td>
                            {% if lead.reported == constant('STATUS_REPORTED', lead) %}
                                <a href="{{ path('adminplus_validate_report', {'userlead_id':lead.id, 'status':1} ) }}" class="btn btn-sm btn-success">Crediteer aanvraag</a> <a href="{{ path('adminplus_validate_report', {'userlead_id':lead.id, 'status':0}) }}" class="btn btn-sm btn-danger">Keur rapportage af</a>
                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}
                {% if userLeads|length == 0 %}
                    <tr>
                        <td colspan="8" class="text-center">Lead nog niet verzonden.<br/></td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="block">
            <h3 class="site-heading no-margin-top"><strong>Overige</strong> gegevens</h3>
            <hr>
            <form action="#" method="post" class="form-horizontal form-bordered">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-text-input">Wilt lessen in</label>
                    <div class="col-md-9">
                        <p>
                            {{ lead.city.name }}
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-text-input">Rijles categorie</label>
                    <div class="col-md-9">
                        <p>
                            {% if lead.licence.type == 'theorie' %}
                                {{ lead.licence.name }} (theorie)
                            {% else %}
                                {{ lead.licence.name }}
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-text-input">Ervaring status</label>
                    <div class="col-md-9">
                        <p>
                            {% if lead.experience == constant('EXPERIENCE_NO', lead) %}
                                Geen ervaring
                            {% elseif lead.experience == constant('EXPERIENCE_YES', lead) %}
                                Wel ervaring
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-text-input">Beschikbaarheid</label>
                    <div class="col-md-9">
                        <p>
                            {% if lead.availability == constant('AVAILABILITY_ASAP', lead) %}
                                Zo snel mogelijk
                            {% elseif lead.availability == constant('AVAILABILITY_ONE_WEEK', lead) %}
                                +- 1 week
                            {% elseif lead.availability == constant('AVAILABILITY_TWO_WEEKS', lead) %}
                                +- 2 week
                            {% elseif lead.availability == constant('AVAILABILITY_FOUR_WEEKS', lead) %}
                                +- 3 week
                            {% elseif lead.availability == constant('AVAILABILITY_ONE_MONTH_ABOVE', lead) %}
                                Later dan 1 maand
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-text-input">Contact</label>
                    <div class="col-md-9">
                        <p>
                            {% if lead.contactPreference == constant('CONTACT_PREFERENCE_PHONE', lead) %}
                                Telefonisch
                            {% elseif lead.contactPreference == constant('CONTACT_PREFERENCE_EMAIL', lead) %}
                                E-mail
                            {% elseif lead.contactPreference == constant('CONTACT_PREFERENCE_WHATSAPP', lead) %}
                                Whatsapp
                            {% elseif lead.contactPreference == constant('CONTACT_PREFERENCE_POST', lead) %}
                                Post
                            {% elseif lead.contactPreference == constant('CONTACT_NO_PREFERENCE', lead) %}
                                Geen voorkeur
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-text-input">Lead status</label>
                    <div class="col-md-9">
                        <p>
                            {% if lead.status == constant('STATUS_NEW', lead) %}
                                <span class="label label-primary">Nieuwe lead</span>
                            {% elseif lead.status == constant('STATUS_EMAILED', lead) %}
                                <span class="label label-success">Lead verzonden</span>
                            {% elseif lead.status == constant('STATUS_EXPIRED', lead) %}
                                <span class="label label-danger">Lead verlopen</span>
                            {% elseif lead.status == constant('STATUS_INVALID', lead) %}
                                <span class="label label-danger">Lead geblokkeerd voor verzending</span>
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-text-input">Aangevraagd op</label>
                    <div class="col-md-9">
                        <p>{{ lead.inserted|date('d-m-Y H:i') }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 text-center">
                        {% if lead.status == constant('STATUS_NEW', lead) %}
                            <a href="{{ path('adminplus_disable_lead', {'leadID':lead.id} ) }}" class="btn btn-sm btn-danger btn-block">Annuleer verzending lead</a><br/>
                            <small class="center-block">Deze lead is nog niet verzonden. U kunt de verzending van de lead stoppen door het bovenstaande knop in te drukken.</small>
                        {% endif %}
                    </div>
                    {#<div class="col-xs-12 col-sm-6">#}
                        {#<a href="{{ path('adminplus_validate_report', {'userlead_id':lead.id, 'status':0}) }}" class="btn btn-sm btn-danger btn-block">Keur rapportage af</a>#}
                    {#</div>#}
                </div>

                {#{% if rijschool.status == constant('STATUS_ACTIVATING', app.user) or rijschool.status == constant('STATUS_INACTIVE', app.user) or rijschool.status == constant('STATUS_DEACTIVATED', app.user) %}#}
                    {#<div class="form-group">#}
                        {#<label class="col-md-3 control-label" for="example-text-input"></label>#}
                        {#<div class="col-md-9">#}
                            {#<a href="{{ path('adminplus_activate_account', {'id':rijschool.id}) }}" class="btn btn-sm btn-success">Account activeren</a><br/>#}
                        {#</div>#}
                    {#</div>#}
                {#{% endif %}#}
                {#<div class="form-group">#}
                    {#<label class="col-md-3 control-label" for="example-text-input"></label>#}
                    {#<div class="col-md-9">#}
                        {#<a href="{{ path('adminplus_deactivate_account', {'id':rijschool.id}) }}" class="btn btn-sm btn-danger">Account blokkeren</a><br/>#}
                    {#</div>#}
                {#</div>#}
            </form>

        </div>

    </div>
</div>


{% embed 'AppBundle::AdminPlus/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}