{% embed 'AppBundle::AdminPlus/header.html.twig' %}
    {% block og_title %}Leads - Rijscholen Platform - Rijschoolvinden.nl{% endblock %}
    {% block title %}Leads - Rijscholen Platform - Rijschoolvinden.nl{% endblock %}
    {% block og_description %}{% endblock %}
    {% block description %}{% endblock %}
{% endembed %}

<!-- Page content -->

<!-- Orders and Products -->
<div class="row">
    <div class="col-xs-12">
        <!-- Top Products Block -->
        <div class="block">
            <!-- Top Products Title -->
            <h2>Leads overzicht</h2>
            <hr>
            <!-- Top Products Content -->
            <table id="myTable" class="table table-striped">
                <thead>
                <th class="text-center">Status</th>
                <th>Datum aanvraag</th>
                <th>Naam</th>
                <th>E-mail</th>
                <th>Stad</th>
                <th>Categorie</th>
                <th></th>
                </thead>
                <tbody>
                {% for lead in leads %}
                    <tr>
                        <td class="text-center">
                            {% if lead.status == constant('STATUS_NEW', lead) %}
                            <span class="label label-primary">Nieuwe lead</span>
                            {% elseif lead.status == constant('STATUS_EMAILED', lead) %}
                                <span class="label label-success">Lead verzonden</span>
                            {% elseif lead.status == constant('STATUS_EXPIRED', lead) %}
                                <span class="label label-danger">Lead verlopen</span>
                            {% elseif lead.status == constant('STATUS_INVALID', lead) %}
                                <span class="label label-danger">Lead geblokkeerd voor verzending</span>
                            {% endif %}
                        </td>
                        <td>{{ lead.inserted|date('d-m-Y H:i') }}</td>
                        <td>{{ lead.firstName }} {{ lead.lastName }}</td>
                        <td>{{ lead.emailAddress }}</td>
                        <td>{{ lead.city.name }}</td>
                        <td>
                            {% if lead.licence.type == 'theorie' %}
                                {{ lead.licence.name }} (theorie)
                            {% else %}
                                {{ lead.licence.name }}
                            {% endif %}
                        </td>
                        <td class="text-center"><a href="{{ path('adminplus_lead', {'id':lead.id}) }}" class="btn btn-primary btn-sm">Bekijk details</a></td>
                    </tr>
                {% endfor %}
                {% if leads|length == 0 %}
                    <tr>
                        <td colspan="5" class="text-center">Geen rijscholen gevonden.<br/></td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
            <br/>

            <!-- END Top Products Content -->
        </div>
        <!-- END Top Products Block -->
    </div>
    {#<div class="col-xs-12 col-sm-3">#}
    {#<div class="block">#}
    {#<h3 class="site-heading no-margin-top"><strong>Categorie</strong> toevoegen</h3>#}
    {#<form action="{{ path('admin_categories') }}" method="POST">#}
    {#<div class="form-group">#}
    {#<select name="license" class="form-control">#}
    {#<option>Selecteer een rijles categorie type</option>#}
    {#{% for licence in licenses %}#}
    {#<option value="{{ licence.id }}">{{ licence.name }} - {{ licence.type }}</option>#}
    {#{% endfor %}#}
    {#</select>#}
    {#</div>#}
    {#<div class="form-group">#}

    {#<button type="submit" class="btn btn-success btn-block">Toevoegen</button>#}
    {#</div>#}
    {#</form>#}
    {#</div>#}
    {#</div>#}
</div>


{% embed 'AppBundle::AdminPlus/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}