{% embed 'AppBundle::AdminPlus/header.html.twig' %}
    {% block og_title %}Instellingen - Rijscholen Platform - Rijschoolvinden.nl{% endblock %}
    {% block title %}Instellingen - Rijscholen Platform - Rijschoolvinden.nl{% endblock %}
    {% block og_description %}{% endblock %}
    {% block description %}{% endblock %}
{% endembed %}

<div class="row">
    <div class="col-xs-12 col-md-8">
        <div class="block">
            <h3 class="site-heading no-margin-top"><strong>Rijschool</strong>gegevens</h3>
            <hr>
            <form action="{{ path('adminplus_save_user', {'id':rijschool.id}) }}" method="post" class="form-horizontal form-bordered">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-text-input">Voornaam</label>
                    <div class="col-md-9">
                        <input type="text" id="firstname" name="firstname" class="form-control" placeholder="Voornaam..." value="{{ rijschool.firstname }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-text-input">Achternaam</label>
                    <div class="col-md-9">
                        <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Achternaam..." value="{{ rijschool.lastname }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-text-input">Telefoonnummer</label>
                    <div class="col-md-9">
                        <input type="text" id="phonenumber" name="phonenumber" class="form-control" placeholder="Telefoonnummer..." value="{{ rijschool.phonenumber }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-text-input">E-mail adres</label>
                    <div class="col-md-9">
                        <input type="text" id="firstname" name="firstname" class="form-control" placeholder="Email adres..." value="{{ rijschool.email }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-text-input">Bedrijfsnaam</label>
                    <div class="col-md-9">
                        <input type="text" id="companyname" name="companyname" class="form-control" placeholder="Bedrijfsnaam..." value="{{ rijschool.companyname }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-text-input">Adres</label>
                    <div class="col-md-9">
                        <input type="text" id="address" name="address" class="form-control" placeholder="Adres..." value="{{ rijschool.address }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-text-input">Huisnummer</label>
                    <div class="col-md-9">
                        <input type="text" id="housenumber" name="housenumber" class="form-control" placeholder="Huisnummer..." value="{{ rijschool.housenumber }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-text-input">Postcode</label>
                    <div class="col-md-9">
                        <input type="text" id="zipcode" name="zipcode" class="form-control" placeholder="Postcode..." value="{{ rijschool.zipcode }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-text-input">Stad</label>
                    <div class="col-md-9">
                        <input type="text" id="city" name="city" class="form-control" placeholder="Stad..." value="{{ rijschool.city }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-text-input">Kvk nummer</label>
                    <div class="col-md-9">
                        <input type="text" id="city" name="city" class="form-control" placeholder="Kvk nummer..." value="{{ rijschool.registrationNumber }}">
                    </div>
                </div>
                <div class="form-group form-actions">
                    <div class="col-md-9 col-md-offset-3 text-right">
                        <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-angle-right"></i> Update gegevens</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="block">
            <h3 class="site-heading no-margin-top"><strong>Overige</strong> gegevens</h3>
            <hr>
            <form action="#" method="post" class="form-horizontal form-bordered">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-text-input">Account status</label>
                    <div class="col-md-9">
                        <p>
                            {% if rijschool.status == constant('STATUS_INACTIVE', app.user) %}
                                <span class="label label-warning">Inactief</span>
                            {% elseif rijschool.status == constant('STATUS_ACTIVATING', app.user) %}
                                <span class="label label-warning">Wacht op validatie</span>
                            {% elseif rijschool.status == constant('STATUS_ACTIVATED', app.user) %}
                                <span class="label label-success">Gevalideerd</span>
                            {% elseif rijschool.status == constant('STATUS_DEACTIVATED', app.user) %}
                                <span class="label label-warning">Gedeactiveerd</span>
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-text-input">Registratie datum</label>
                    <div class="col-md-9">
                        <p>{{ rijschool.registrationDate|date('d-m-Y H:i') }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-text-input">Laatst ingelogd</label>
                    <div class="col-md-9">
                        <p>{{ rijschool.lastLogin|date('d-m-Y H:i') }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-text-input">Account type</label>
                    <div class="col-md-9">
                        <p>
                            Rijschool
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Abonnementsvorm</label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            {% if app.user.subscriptionType == constant('SUBSCRIPTION_QUARTERLY', app.user) %}
                                Kwartaal
                            {% elseif app.user.subscriptionType == constant('SUBSCRIPTION_YEARLY', app.user) %}
                                Jaarlijks
                            {% elseif app.user.subscriptionType == constant('SUBSCRIPTION_LEGACY', app.user) %}
                                Betaling per aanvraag
                            {% else %}
                                Onbekend
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-text-input">Wizard voltooid</label>
                    <div class="col-md-9">
                        <p>
                            {% if rijschool.wizardCompleted is constant('WIZARD_COMPLETED', rijschool) %}
                                Ja
                            {% elseif rijschool.wizardCompleted is constant('WIZARD_NOT_COMPLETED', rijschool) %}
                                Nee
                            {% else %}
                                Onbekend
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-text-input">Welkom voltooid</label>
                    <div class="col-md-9">
                        <p>
                            {% if rijschool.welcomeCompleted is constant('WELCOME_COMPLETED', rijschool) %}
                                Ja
                            {% elseif rijschool.welcomeCompleted is constant('WELCOME_NOT_COMPLETED', rijschool) %}
                                Nee
                            {% else %}
                                Onbekend
                            {% endif %}
                        </p>
                    </div>
                </div>

                {#{% if rijschool.status == constant('STATUS_ACTIVATING', app.user) or rijschool.status == constant('STATUS_INACTIVE', app.user) or rijschool.status == constant('STATUS_DEACTIVATED', app.user) %}#}
                <div class="form-group">
                    <div class="col-xs-12 col-md-4">
                        <a href="{{ path('adminplus_activate_account', {'id':rijschool.id}) }}" class="btn btn-sm btn-success btn-block">Account activeren</a><br/>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <a href="{{ path('adminplus_deactivate_account', {'id':rijschool.id}) }}" class="btn btn-sm btn-danger btn-block">Account blokkeren</a><br/>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <a href="{{ path('admin_dashboard', {'_switch_user':rijschool.username}) }}" class="btn btn-sm btn-warning btn-block">God mode</a><br/>
                    </div>
                </div>
                {#{% endif %}#}
                <div class="form-group">

                </div>
            </form>

        </div>

    </div>
</div>


<div class="row">
    <div class="col-xs-12">
        <div class="block">
            <h3 class="site-heading no-margin-top"><strong>Werk</strong>gebieden</h3>
            <table class="table table-striped table-vcenter">
                <thead>
                <th>Rijles werkgebied</th>
                <th>Rijles categorie</th>
                <th>Type</th>
                {#<th>Maandelijks limiet</th>#}
                <th></th>
                </thead>
                <tbody>
                {% for licenceCity in licenceCities %}
                    <tr>
                        <td>{{ licenceCity.city.name }}</td>
                        <td>{{ licenceCity.licence.name }}</td>
                        <td>{{ licenceCity.licence.type|capitalize }}</td>
                        {#<td>#}
                            {#{% if licenceCity.maxLimit is null %}#}
                                {#Onbeperkt#}
                            {#{% else %}#}
                                {#{{ licenceCity.maxLimit }}#}
                            {#{% endif %}#}
                        {#</td>#}
                        <td class="text-center"><a href="{{ path('adminplus_city_delete', {'city_id': licenceCity.id}) }}" class="btn btn-danger btn-sm">Verwijder</a></td>
                    </tr>
                {% endfor %}
                {% if licenceCities|length == 0 %}
                    <tr>
                        <td colspan="5" class="text-center">Geen actieve rijles werkgebieden gevonden.<br/></td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{#<div class="row">#}
    {#<div class="col-xs-12 col-sm-8">#}
        {#<div class="block" style="padding-bottom: 75px;">#}
            {#<h3 class="site-heading no-margin-top"><strong>Offerte</strong>aanvragen overzicht</h3>#}
            {#<hr>#}
            {#<ul class="nav nav-tabs">#}
                {#<li class="active"><a href="#">Januari 2017</a></li>#}
                {#<li><a href="#januari">Februari 2017</a></li>#}
                {#<li><a href="#">Maart 2017</a></li>#}
                {#<li><a href="#">April 2017</a></li>#}
                {#<li><a href="#">Mei 2017</a></li>#}
                {#<li><a href="#">Juni 2017</a></li>#}
                {#<li><a href="#">Juli 2017</a></li>#}
                {#<li><a href="#">Augustus 2017</a></li>#}
                {#<li><a href="#">September 2017</a></li>#}
                {#<li><a href="#">Oktober 2017</a></li>#}
                {#<li><a href="#">November 2017</a></li>#}
                {#<li><a href="#">December 2017</a></li>#}
            {#</ul>#}
            {#<div class="tab-content">#}
                {#<div class="tab-pane active text-center" id="januari">#}
                    {#<br/>#}
                    {#<p>(binnenkort vindt je hier statistieken)</p>#}
                    {#<img src="{{ asset('bundles/app/admin/img/bitcoin-chart.jpg') }}" class="img-responsive" />#}

                {#</div>#}
            {#</div>#}

        {#</div>#}
    {#</div>#}
    {#<div class="col-xs-12 col-sm-4">#}
        {#<div class="block">#}
            {#<h3 class="site-heading no-margin-top"><strong>Offerte</strong>aanvragen statistieken</h3>#}
            {#<form action="#" method="post" class="form-horizontal form-bordered">#}

                {#<div class="form-group">#}
                    {#<label class="col-md-3 control-label" for="example-text-input">Totaal aanvragen</label>#}
                    {#<div class="col-md-9">#}
                        {#<p>In progress...</p>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="form-group">#}
                    {#<label class="col-md-3 control-label" for="example-text-input">Totaal aanvragen dit jaar</label>#}
                    {#<div class="col-md-9">#}
                        {#<p>In progress...</p>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="form-group">#}
                    {#<label class="col-md-3 control-label" for="example-text-input">Totaal aanvragen deze maand</label>#}
                    {#<div class="col-md-9">#}
                        {#<p>In progress...</p>#}
                    {#</div>#}
                {#</div>#}
            {#</form>#}
        {#</div>#}
    {#</div>#}

{#</div>#}

{% embed 'AppBundle::AdminPlus/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}