{% embed 'AppBundle::AdminPlus/header.html.twig' %}
    {% block og_title %}Rijscholen - Rijscholen Platform - Rijschoolvinden.nl{% endblock %}
    {% block title %}Rijscholen - Rijscholen Platform - Rijschoolvinden.nl{% endblock %}
    {% block og_description %}{% endblock %}
    {% block description %}{% endblock %}
{% endembed %}

<!-- Page content -->


<div class="row text-center">
    <div class="col-sm-6 col-lg-3">
        <div class="widget widget-hover-effect2">
            <div class="widget-extra themed-background-dark">
                <h4 class="widget-content-light"><strong>Actieve</strong> rijscholen</h4>
            </div>
            <div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen">{{ activeUsers }}</span></div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="widget widget-hover-effect2">
            <div class="widget-extra themed-background-dark">
                <h4 class="widget-content-light"><strong>Inactieve</strong> rijscholen</h4>
            </div>
            <div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen">{{ nonActiveUsers }}</span></div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="widget widget-hover-effect2">
            <div class="widget-extra themed-background-dark">
                <h4 class="widget-content-light"><strong>Wizard</strong> incompleet totaal</h4>
            </div>
            <div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen">{{ nonWizardUsers }}</span></div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="widget widget-hover-effect2">
            <div class="widget-extra themed-background-dark">
                <h4 class="widget-content-light"><strong>Welkom</strong> incompleet totaal</h4>
            </div>
            <div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen">{{ nonWelcomeUsers }}</span></div>
        </div>
    </div>
</div>

<!-- Orders and Products -->
<div class="row">
    <div class="col-xs-12">
        <!-- Top Products Block -->
        <div class="block">
            <h3 class="site-heading no-margin-top"><strong>Rijscholen</strong> overzicht</h3>
            <hr>
            <!-- Top Products Content -->
            <table id="myTable" class="table table-striped table-vcenter">
                <thead>
                <th>Status</th>
                <th>Bedrijfsnaam</th>
                <th>Contactpersoon</th>
                <th>E-mail</th>
                <th>Adres</th>
                <th>Stad</th>
                <th></th>
                </thead>
                <tbody>
                {% for rijschool in rijscholen %}
                    <tr>
                        <td>
                            {% if rijschool.status == constant('STATUS_INACTIVE', app.user) %}
                                <span class="label label-warning">Inactief</span>
                            {% elseif rijschool.status == constant('STATUS_ACTIVATING', app.user) %}
                                <span class="label label-warning">Wacht op validatie</span>
                            {% elseif rijschool.status == constant('STATUS_ACTIVATED', app.user) %}
                                <span class="label label-success">Gevalideerd</span>
                            {% elseif rijschool.status == constant('STATUS_DEACTIVATED', app.user) %}
                                <span class="label label-warning">Gedeactiveerd</span>
                            {% endif %}
                        </td>
                        <td>{{ rijschool.companyName }}</td>
                        <td>{{ rijschool.firstName }} {{ rijschool.lastName }}</td>
                        <td>{{ rijschool.email }}</td>
                        <td>{{ rijschool.address }} {{ rijschool.houseNumber }}</td>
                        <td>{{ rijschool.city }}</td>
                        <td><a href="{{ path('adminplus_rijschool', {'id':rijschool.id}) }}" class="btn btn-sm btn-primary">Rijschool details</a></td>
                        {#<td>{{ userlicence.licence.type|capitalize }}</td>#}
                        {#<td class="text-center"><a href="{{ path('admin_category_delete', {'category_id': userlicence.id}) }}" class="btn btn-danger btn-sm">Verwijder</a></td>#}
                    </tr>
                {% endfor %}
                {% if rijscholen|length == 0 %}
                    <tr>
                        <td colspan="6" class="text-center">Geen rijscholen gevonden.<br/></td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
            <br/>

            <!-- END Top Products Content -->
        </div>
        <!-- END Top Products Block -->
    </div>
    {#<div class="col-xs-12 col-sm-3">#}
        {#<div class="block">#}
            {#<h3 class="site-heading no-margin-top"><strong>Categorie</strong> toevoegen</h3>#}
            {#<form action="{{ path('admin_categories') }}" method="POST">#}
                {#<div class="form-group">#}
                    {#<select name="license" class="form-control">#}
                        {#<option>Selecteer een rijles categorie type</option>#}
                        {#{% for licence in licenses %}#}
                            {#<option value="{{ licence.id }}">{{ licence.name }} - {{ licence.type }}</option>#}
                        {#{% endfor %}#}
                    {#</select>#}
                {#</div>#}
                {#<div class="form-group">#}

                    {#<button type="submit" class="btn btn-success btn-block">Toevoegen</button>#}
                {#</div>#}
            {#</form>#}
        {#</div>#}
    {#</div>#}
</div>

{% embed 'AppBundle::AdminPlus/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}