{% embed 'AppBundle::AdminPlus/header.html.twig' %}
    {% block og_title %}Leads - Rijscholen Platform - Rijschoolvinden.nl{% endblock %}
    {% block title %}Leads - Rijscholen Platform - Rijschoolvinden.nl{% endblock %}
    {% block og_description %}{% endblock %}
    {% block description %}{% endblock %}
{% endembed %}

<!-- Page content -->

<!-- Orders and Products -->
<div class="row">
    <div class="col-xs-12">
        <!-- Top Products Block -->
        <div class="block">
            <!-- Top Products Title -->
            <h2>Verzonden leads overzicht</h2>
            <hr>
            <!-- Top Products Content -->
            <table id="myTable" class="table table-striped">
                <thead>
                <th>Datum aanvraag verzonden</th>
                <th>Bedrijfsnaam</th>
                <th>Naam</th>
                <th>Status</th>
                <th></th>
                </thead>
                <tbody>
                {% for lead in leads %}
                    <tr>

                        <td>{{ lead.dateTimeEmailed|date('d-m-Y H:i') }}</td>
                        <td>{{ lead.user.companyName }}</td>
                        <td>{{ lead.user.firstName }} {{ lead.user.lastName }}</td>
                        <td>
                            {% if lead.reported == constant('STATUS_REPORTED', lead) %}
                                <span class="label label-warning">Offerteaanvraag gerapporteerd</span>
                            {% elseif lead.reported == constant('STATUS_VALID', lead) %}
                                <span class="label label-success">Offerteaanvraag geverifieerd</span>
                            {% elseif lead.reported == constant('STATUS_INVALID', lead) %}
                                <span class="label label-danger">Offerteaanvraag gecrediteerd</span>
                            {% endif %}
                        </td>
                        <td class="text-center"><a href="{{ path('adminplus_lead', {'id':lead.lead.id}) }}" class="btn btn-primary btn-sm">Bekijk details</a></td>
                    </tr>
                {% endfor %}
                {% if leads|length == 0 %}
                    <tr>
                        <td colspan="8" class="text-center">Geen verzonden leads gevonden.<br/></td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
            <br/>

            <!-- END Top Products Content -->
        </div>
        <!-- END Top Products Block -->
    </div>
    {#<div class="col-xs-12 col-sm-3">#}
    {#<div class="block">#}
    {#<h3 class="site-heading no-margin-top"><strong>Categorie</strong> toevoegen</h3>#}
    {#<form action="{{ path('admin_categories') }}" method="POST">#}
    {#<div class="form-group">#}
    {#<select name="license" class="form-control">#}
    {#<option>Selecteer een rijles categorie type</option>#}
    {#{% for licence in licenses %}#}
    {#<option value="{{ licence.id }}">{{ licence.name }} - {{ licence.type }}</option>#}
    {#{% endfor %}#}
    {#</select>#}
    {#</div>#}
    {#<div class="form-group">#}

    {#<button type="submit" class="btn btn-success btn-block">Toevoegen</button>#}
    {#</div>#}
    {#</form>#}
    {#</div>#}
    {#</div>#}
</div>


{% embed 'AppBundle::AdminPlus/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}