{% embed 'AppBundle::AdminPlus/header.html.twig' %}
    {% block og_title %}Instellingen - Rijscholen Platform - Rijschoolvinden.nl{% endblock %}
    {% block title %}Instellingen - Rijscholen Platform - Rijschoolvinden.nl{% endblock %}
    {% block og_description %}{% endblock %}
    {% block description %}{% endblock %}
{% endembed %}

<div class="row">
    <div class="col-xs-12">
        <div class="block">
            <h3 class="site-heading no-margin-top"><strong>Werkgebied</strong> informatie van <strong>{{ city.name }}</strong></h3>
            <hr>
            <table id="myTable" class="table table-striped table-vcenter">
                <thead>
                <th>Rijschool naam</th>
                <th>Contactpersoon</th>
                <th>Stad</th>
                <th></th>
                </thead>
                <tbody>
                {% for rijschool in rijscholen %}
                    <tr>
                        <td>{{ rijschool.companyName }}</td>
                        <td>{{ rijschool.firstName }} {{ rijschool.lastName }}</td>
                        <td>{{ rijschool.city }}</td>
                        <td><a href="{{ path('adminplus_rijschool', {'id':rijschool.id}) }}" class="btn btn-sm btn-primary">Rijschool details</a></td>
                        {#<td>{{ userlicence.licence.type|capitalize }}</td>#}
                        {#<td class="text-center"><a href="{{ path('admin_category_delete', {'category_id': userlicence.id}) }}" class="btn btn-danger btn-sm">Verwijder</a></td>#}
                    </tr>
                {% endfor %}
                {% if rijscholen|length == 0 %}
                    <tr>
                        <td colspan="6" class="text-center">Geen rijscholen gevonden.<br/></td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
            <br/>
        </div>
    </div>
</div>

{% embed 'AppBundle::AdminPlus/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}