{% embed 'AppBundle::AdminPlus/header.html.twig' %}
    {% block og_title %}Rijscholen - Rijscholen Platform - Rijschoolvinden.nl{% endblock %}
    {% block title %}Rijscholen - Rijscholen Platform - Rijschoolvinden.nl{% endblock %}
    {% block og_description %}{% endblock %}
    {% block description %}{% endblock %}
{% endembed %}

<!-- Page content -->

<!-- Orders and Products -->
<div class="row">
    <div class="col-xs-12">
        <!-- Top Products Block -->
        <div class="block">
            <h2>Werkgebieden overzicht</h2>
            <hr>
            <!-- Top Products Content -->
            <table id="myTable" class="table table-striped table-vcenter">
                <thead>
                <th>Werkgebied</th>
                <th>Totaal aan actieve rijscholen</th>
                <th></th>
                </thead>
                <tbody>
                {% for werkgebied in werkgebieden %}
                    <tr>
                        <td>
                            {{ werkgebied.name }}
                        </td>
                        <td>{{ total[werkgebied.id] }}</td>
                        <td class="text-center"><a href="{{ path('adminplus_werkgebied', {'cityID': werkgebied.id}) }}" class="btn btn-primary btn-sm">Meer informatie over werkgebied</a></td>
                    </tr>
                {% endfor %}
                {% if werkgebieden|length == 0 %}
                    <tr>
                        <td colspan="6" class="text-center">Geen actieve werkgebieden gevonden.<br/></td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
            <br/>
        </div>
    </div>
</div>

{% embed 'AppBundle::AdminPlus/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}