{% embed 'AppBundle::Website/header.html.twig' %}
    {% block og_title %}Inloggen Rijschoolvinden.nl {% endblock %}
    {% block title %}Inloggen Rijschoolvinden.nl {% endblock %}
    {% block og_description %}{% endblock %}
    {% block description %}{% endblock %}
{% endembed %}

{% block fos_user_content %}
    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock fos_user_content %}

{% embed 'AppBundle::Website/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}