{% trans_default_domain 'FOSUserBundle' %}

<!-- Intro -->
<section class="site-section site-section-light site-section-top themed-background-default">
    <div class="container">
        <h1 class="text-center animation-slideDown"><i class="fa fa-lock"></i> <strong>Inloggen</strong></h1>
    </div>
</section>
<!-- END Intro -->

<section class="site-content site-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                        <h3 class="site-heading"><strong>Rijscholen</strong> platform</h3>
                        {% if error %}
                            <div class="alert alert-danger">
                                <p class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                            </div>
                        {% endif %}
                        <form action="{{ path('fos_user_security_check') }}" method="post" id="form-log-in" class="form-horizontal" novalidate="novalidate" _lpchecked="1">
                            {% if csrf_token %}
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            {% endif %}
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
                                        <input type="email" id="login-email" name="_username" class="form-control input-lg" placeholder="E-mail" style="cursor: auto;" autocomplete="off" value="{{ last_username }}" autofocus>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                                        <input type="password" id="_password" name="_password" class="form-control input-lg" placeholder="Wachtwoord" style="cursor: auto;" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-actions">
                                <div class="col-xs-12 text-right">
                                    <button type="submit" class="btn btn-sm btn-primary btn-block"><small>Log In</small></button>
                                </div>
                            </div>
                            <div class="form-group">
                                {#<div class="col-xs-6">#}
                                    {#<label class="switch switch-primary">#}
                                        {#<input type="checkbox" id="_remember_me" name="_remember_me" checked=""><span></span>#}
                                    {#</label>#}
                                    {#<small>Onthoud mij</small>#}
                                {#</div>#}
                                <div class="col-xs-12 text-center">
                                    <a href="{{ path('fos_user_resetting_request') }}" class="btn btn-default btn-block"><small>Wachtwoord vergeten?</small></a><br/>
                                </div>
                                {#<p class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</p>#}
                            </div>
                        </form>
                        <div class="text-center">
                            <hr>
                            <h3 class="site-heading"><strong>Geen</strong> account?</h3>
                            <a href="{{ path('fos_user_registration_register') }}" class="btn btn-default btn-block"><small>Klik hier om te registreren</small></a><br/>
                            {#<a href="{{ path('fos_user_registration_register') }}" class="btn btn-default"><small>Klik hier om te registreren.</small></a>#}
                        </div>

                    </div>
                </div>

                <br/><br/>
            </div>
        </div>
    </div>
</section>

{% embed 'AppBundle::Templates/calltoaction.html.twig'%}{% endembed %}