{% embed 'AppBundle::Website/header.html.twig' %}
    {% block og_title %}{% endblock %}
    {% block title %}Wachtwoord Herstellen{% endblock %}
    {% block og_description %}{% endblock %}
    {% block description %}{% endblock %}
{% endembed %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    <!-- Intro -->
    <section class="site-section site-section-light site-section-top themed-background-default">
        <div class="container">
            <h1 class="text-center animation-slideDown"><i class="fa fa-envelope"></i> <strong>Herstel e-mail verzonden</strong></h1>
        </div>
    </section>
    <!-- END Intro -->
<section class="site-content site-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                        <h3 class="site-heading">Houd uw mail box in de gaten</h3>
                        <p>Er is zojuist een herstel e-mail naar u verzonden. Hierin vindt u instructies om uw wachtwoord te herstellen.</p>
                        <a href="{{ path('website_home') }}" class="btn btn-primary btn-block">Terug naar de homepage</a>
                        {#{{ tokenLifetime }}#}
                    </div>
                </div>

                <br/><br/>
            </div>
        </div>
    </div>
</section>
    {% embed 'AppBundle::Templates/calltoaction.html.twig'%}{% endembed %}
{% endblock %}

{% embed 'AppBundle::Website/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}


