{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{%- autoescape false -%}
Uw wachtwoord herstellen
{%- endautoescape -%}
{% endblock %}

{#{% block body_text %}#}
{#{% autoescape false %}#}
{#{{ 'resetting.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}#}
{#{{ user.username }}#}
{#{{ confirmationUrl }}#}
{#{% endautoescape %}#}
{#{% endblock %}#}
{% block body_text %}
{% endblock %}
{% block body_html %}
{% include 'AppBundle::Emails/header.html.twig'%}

<tr>
    <td align="center" bgcolor="#1bbae1" style="padding: 20px 20px 20px 20px; color: #ffffff; font-size: 36px; font-weight: 300;">
        <h4>Uw wachtwoord herstellen</h4>
    </td>
</tr>
<tr>
    <td align="left" bgcolor="#ffffff" style="padding: 40px; color: #555555; font-size: 14px; line-height: 16px; border-bottom: 1px solid #f6f6f6;">
        Beste,<br/><br/>
        Er is zojuist een account herstel verzoek ingedient. Heeft u dit niet gedaan? Dan kunt u dit e-mail als niet verzonden beschouwen.<br/>
        Wilt u wel uw wachtwoord herstellen? Lees dan verder.<br/><br/>
        Met vriendelijke groet,<br/>
        Rijschoolvinden

    </td>
</tr>

<tr>
    <td align="center" bgcolor="#1bbae1" style="padding: 40px; color: #ffffff; font-size: 15px;">
        <b>Nieuwe wachtwoord instellen</b>
        <p align="center" style="margin-bottom: 0px;">
            Herstel uw wachtwoord door op het onderstaande knop te klikken:
        </p>
        <br/>
        <table bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0" class="buttonwrapper">
            <tr>
                <td align="center" height="50" style=" padding: 0 25px 0 25px; font-size: 16px; font-weight: bold;" class="button">
                    <a href="{{ confirmationUrl }}" style="color: #1bbae1; text-align: center; text-decoration: none;">Klik hier om uw wachtwoord te herstellen</a>
                </td>
            </tr>
        </table>
    </td>
</tr>

<tr>
    <td align="center" bgcolor="#f9f9f9" style="padding: 20px 40px 40px 40px; color: #555555; font-size: 15px;">
        <h4>Heeft u vragen?</h4>
        Aarzel niet en stel gerust uw vragen.<br/>
        U kunt ons bereiken op info@rijschoolvinden.nl of 020 - 123 123 12.
    </td>
</tr>



{#Beste,#}

{#Hierbij ontvangt u een link waarmee u uw wachtwoord kunt herstellen:#}

{#<table bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0" class="buttonwrapper">#}
    {#<tr>#}
        {#<td align="center" height="50" style=" padding: 0 25px 0 25px; font-size: 16px; font-weight: bold;" class="button">#}
            {#<a href="http://rijschoolvinden.nl/rijscholen/bevestig/{{ token }}" style="color: #1bbae1; text-align: center; text-decoration: none;">Activeer uw account</a>#}
        {#</td>#}
    {#</tr>#}
{#</table>#}

{#{{ user.username }}#}
{#{{ confirmationUrl }}#}
{% include 'AppBundle::Emails/footer.html.twig'%}
{% endblock %}

