{% trans_default_domain 'FOSUserBundle' %}

<!-- Intro -->
<section class="site-section site-section-light site-section-top themed-background-default">
    <div class="container">
        <h1 class="text-center animation-slideDown"><i class="fa fa-lock"></i> <strong>Herstel uw wachtwoord</strong></h1>
    </div>
</section>
<!-- END Intro -->

<section class="site-content site-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                        <h3 class="site-heading">Uw<strong> e-mail </strong> adres</h3>
                        <p>
                            Vul hieronder uw e-mail adres in waarmee u voor het eerst heeft geregistreerd. U ontvangt een e-mail met instructies om uw wachtwoord te herstellen.
                        </p>
                        {#{% if error %}#}
                        {#<div class="alert alert-danger">#}
                        {#<p class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</p>#}
                        {#</div>#}
                        {#{% endif %}#}

                        {#<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="form-horizontal">#}
                            {#<div class="form-group">#}
                                {#<input type="text" id="username" name="username" required="required" class="form-control"  placeholder="Uw e-mail adres..."/>#}
                            {#</div>#}
                            {#<div>#}
                                {#<input type="submit" value="Herstel wachtwoord" class="btn btn-primary btn-block"/>#}
                            {#</div>#}
                        {#</form>#}
                        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="form-horizontal">
                            <div class="form-group">
                                <input type="text" id="username" name="username" required="required" class="form-control" placeholder="Uw e-mail adres..."/>
                            </div>
                            <div>
                                <input type="submit" value="Wachtwoord herstellen" class="btn btn-primary btn-block" />
                            </div>
                        </form>
                    </div>
                </div>

                <br/><br/>
            </div>
        </div>
    </div>
</section>

{% embed 'AppBundle::Templates/calltoaction.html.twig'%}{% endembed %}
