{% embed 'AppBundle::Website/header.html.twig' %}
    {% block og_title %}{% endblock %}
    {% block title %}Wachtwoord Herstellen {% endblock %}
    {% block og_description %}{% endblock %}
    {% block description %}{% endblock %}
{% endembed %}

{% block fos_user_content %}
{% include "@FOSUser/Resetting/reset_content.html.twig" %}
{% endblock fos_user_content %}

{% embed 'AppBundle::Website/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}