{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}

    <!-- Intro -->
    <section class="site-section site-section-light site-section-top themed-background-default">
        <div class="container">
            <h1 class="text-center animation-slideDown"><i class="fa fa-key"></i> <strong>Nieuwe wachtwoord instellen</strong></h1>
            <h2 class="h3 text-center animation-slideUp">En u kunt weer inloggen!</h2>
        </div>
    </section>
    <!-- END Intro -->

    <section class="site-content site-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    <h3 class="site-heading">Stel nieuwe <strong>wachtwoord</strong> in</h3>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
                    {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
                    {{ form_widget(form) }}
                            <div>
                        <input type="submit" value="Stel nieuwe wachtwoord in" class="btn btn-primary btn-block" />
                    </div>
                    {{ form_end(form) }}

                    {#<form name="fos_user_resetting_form" method="post" action="{{ path('fos_user_resetting_reset', {'token': token}) }}" class="fos_user_resetting_reset form-horizontal">#}
                        {#<div id="fos_user_resetting_form">#}
                            {#<div class="form-group">#}
                                {#<div class="input-group">#}
                                    {#<span class="input-group-addon"><i class="gi gi-asterisk"></i></span>#}
                                    {#<input type="password" id="fos_user_resetting_form_plainPassword_first" name="fos_user_resetting_form[plainPassword][first]" required="required" class="form-control input-lg" placeholder="Nieuwe wachtwoord..."/>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="form-group">#}
                                {#<div class="input-group">#}
                                    {#<span class="input-group-addon"><i class="gi gi-asterisk"></i></span>#}
                                    {#<input type="password" id="fos_user_resetting_form_plainPassword_second" name="fos_user_resetting_form[plainPassword][second]" required="required" class="form-control input-lg" placeholder="Herhaal nieuwe wachtwoord..." />#}
                                {#</div>#}
                            {#</div>#}
                            {#<input type="hidden" id="fos_user_resetting_form__token" name="fos_user_resetting_form[_token]" value="{{ csrf_token('') }}">#}
                            {#<input type="submit" value="Stel nieuwe wachtwoord in" class="btn btn-primary btn-block">#}
                        {#</div>#}
                    {#</form>#}
                        </div>
                    </div>


                    <br/>
                    <br/>
                </div>
            </div>
        </div>
    </section>

    {% embed 'AppBundle::Templates/calltoaction.html.twig'%}{% endembed %}

{% endblock fos_user_content %}


