
<!-- Footer -->
<footer class="site-footer site-section">
    <div class="container">
        <!-- Footer Links -->
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <h4 class="footer-heading">Rijschoolvinden</h4>
                <p>
                    Door drie eenvoudige stappen door te lopen op rijschoolvinden.nl ontvang je gratis en vrijblijvend offertes van maximaal vijf rijscholen uit jouw omgeving.
                </p>
                <img src="{{ asset('bundles/app/website/img/rijschoolvinden-logo-white.png') }}" class="img-responsive" />
            </div>
            <div class="col-sm-6 col-md-3">
                <h4 class="footer-heading">Informatie</h4>
                <ul class="footer-nav list-inline">
                    <li><a href="{{ path('website_home') }}">Rijscholen vergelijken</a></li><br/>
                    <li><a href="{{ path('leerling_werking') }}">Hoe werkt het?</a></li><br/>
                    <li><a href="{{ path('leerling_kosten') }}">Kosten</a></li><br/>
                    <li><a href="{{ path('leerling_privacy') }}">Privacy</a></li><br/>
                    <li><a href="{{ path('leerling_klachten') }}">Klachten</a></li><br/>
                    <li><a href="{{ path('website_contact') }}">Contact</a></li><br/><br/>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3">
                <h4 class="footer-heading">Contactgegevens</h4>
                <p>
                    Rijschoolvinden.nl<br/>
                    De Weer 194<br>
                    1503WN Zaandam<br/>
                </p>
                <p>
                    E-mail: info@rijschoolvinden.nl
                </p>
                <p>
                    KVK: 60167017<br/>
                    BTW-nr: NL013073497B02<br/>
                    IBAN: NL62INGB0007746488<br/>
                </p>
                <ul class="footer-nav list-inline">
                    <li><a href="{{ asset("bundles/app/website/doc/algemene-voorwaarden-voor-leerlingen.pdf") }}" target="_blank">Algemene voorwaarden</a></li><br/>
                </ul>
                <ul class="footer-nav footer-nav-social list-inline">
                    <li><a href="https://www.facebook.com/rijschoolvinden" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/rijschoolvinden" target="_blank"><i class="fa fa-instagram"></i></a></li>
                </ul>

            </div>
            <div class="col-sm-6 col-md-3">
                <h4 class="footer-heading">Rijschoolhouders</h4>
                <p>Bent u een rijschoolhouder en heeft u interesse? Registreer nu om gebruik te maken van onze dienst!</p>
                <a href="{{ path('fos_user_registration_register') }}"><img src="{{ asset('bundles/app/website/img/registreren.png') }}" class="img-responsive center-block"/></a>
                <h4 class="footer-heading">WhatsApp Helpdesk</h4>
                {#<div class="text-center" style="border:1px solid #444; background: #333;-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;">#}
                    <a href="https://api.whatsapp.com/send?phone=31640593219" style="">
                        <img src="{{ asset('bundles/app/website/img/whatsapp-helpdesk.png') }}" class="img-responsive" alt="WhatsApp Support +31640593219"/>
                    </a>
                {#</div>#}
                {#<a href="{{ path('fos_user_registration_register') }}"><img src="{{ asset('bundles/app/website/img/klik_hier.png') }}" class="img-responsive" /></a>#}
                {#<ul class="footer-nav list-inline">#}
                    {#<li><a href="{{ path('rijschool_informatie') }}">Informatie</a></li><br/>#}
                    {#<li><a href="{{ path('rijschool_kosten') }}">Kosten</a></li><br/>#}
                    {#<li><a href="{{ path('fos_user_security_login') }}">Inloggen</a></li><br/>#}
                    {#<li><a href="{{ path('fos_user_registration_register') }}">Registreren</a></li><br/>#}
                {#</ul>#}
            </div>

        </div>
        <!-- END Footer Links -->
    </div>
</footer>
<!-- END Footer -->
</div>
<!-- END Page Container -->

<!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->
<a href="#" id="to-top"><i class="fa fa-angle-up"></i></a>

<!-- jQuery, Bootstrap.js, jQuery plugins and Custom JS code -->
<script src="{{ asset('bundles/app/website/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/app/website/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/app/website/js/plugins.js') }}"></script>

<script type="text/javascript" src="{{ asset('bundles/app/website/js/script.js') }}?{{ 'now'|date('U') }}"></script>
<script type="text/javascript">
    /* Handles Main Menu */
        var sideNav = $('.site-nav');

        $('.site-menu-toggle').on('click', function(){
            sideNav.toggleClass('site-nav-visible');
        });

        sideNav.on('mouseleave', function(){
            $(this).removeClass('site-nav-visible');
        });
</script>

</body>
</html>