<!DOCTYPE html>
<!--[if IE 8]> <html lang="nl" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="nl" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="nl"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="www.rijschoolvinden.nl">

    <link rel="alternate" hreflang="nl-nl" href="https://www.rijschoolvinden.nl/" />

    <title>{% block title %}{% endblock %} - Rijschoolvinden - Vergelijk en vind de beste rijschool voor jou!</title>
    <meta name="description" content="{% block description %}{% endblock %}">

    <meta name="google-site-verification" content="37KWgJr7QVfHZBAQcdziH5LbxxlPAOLdL9MCrMSErRs" />

    <meta property="og:url" content="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{% block og_title %}{% endblock %} - Rijschoolvinden - Vergelijk en vind de beste rijschool voor jou!" />
    <meta property="og:description" content="{%  block og_description %}{% endblock %}" />
    <meta property="og:image" content="" />

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/app/website/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" href="{{ asset('bundles/app/website/favicon/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ asset('bundles/app/website/favicon/favicon-16x16.png') }}" sizes="16x16">
    <link rel="manifest" href="{{ asset('bundles/app/website/favicon/manifest.json') }}">
    <link rel="mask-icon" href="{{ asset('bundles/app/website/favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ asset('bundles/app/website/css/bootstrap.min.css') }}?{{ 'now'|date('U') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/website/css/plugins.css') }}?{{ 'now'|date('U') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/website/css/main.css') }}?{{ 'now'|date('U') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/website/css/themes.css') }}?{{ 'now'|date('U') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/website/css/custom.css') }}?{{ 'now'|date('U') }}">
    <!-- END Stylesheets -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-38481208-40"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-38481208-40');
    </script>


    {% if app.environment == 'prod' %}
        <script type="text/javascript">
            window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
                d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
            _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
                $.src="https://v2.zopim.com/?5KcvIhNpzrb6JI88Y5Nqanbmgq4roqve";z.t=+new Date;$.
                    type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
        </script>
    {% endif %}

</head>
<body>
<!-- Page Container -->
<!-- In the PHP version you can set the following options from inc/config file -->
<!-- 'boxed' class for a boxed layout -->
<div id="page-container">
    <!-- Site Header -->
    <header>
        <div class="container">
            <!-- Site Logo -->
            <a class="site-logo" href="{{ path('website_home') }}">
                <img src="{{ asset('bundles/app/website/img/rijschoolvinden-logo-white.png') }}" class="img-responsive center-block"/>
            </a>
            <!-- Site Logo -->

            <!-- Site Navigation -->
            <nav>
                <!-- Menu Toggle -->
                <!-- Toggles menu on small screens -->
                <a href="javascript:void(0)" class="btn btn-default site-menu-toggle visible-xs visible-sm" >
                    <i class="fa fa-bars"></i>
                </a>
                <!-- END Menu Toggle -->

                <!-- Main Menu -->
                <ul class="site-nav">
                    <!-- Toggles menu on small screens -->
                    <li class="visible-xs visible-sm">
                        <a href="javascript:void(0)" class="site-menu-toggle text-center">
                            <i class="fa fa-times"></i>
                        </a>
                    </li>
                    <!-- END Menu Toggle -->
                    <li>
                        <a href="{{ path('website_home') }}">Home</a>
                    </li>
                    {#<li>#}
                        {#<a href="{{ path('website_over') }}">Over ons</a>#}
                    {#</li>#}
                    <li>
                        <a href="{{ path('leerling_werking') }}">Hoe werkt het?</a>
                    </li>
                    <li><a href="{{ path('leerling_kosten') }}">Kosten</a></li>
                    <li><a href="{{ path('leerling_privacy') }}">Privacy</a></li>


                    {#<li>#}
                        {#<a href="javascript:void(0)" class="site-nav-sub"><i class="fa fa-angle-down site-nav-arrow"></i>Leerlingen</a>#}
                        {#<ul>#}
                            {#<li><a href="{{ path('leerling_werking') }}">Hoe werkt het?</a></li>#}
                            {#<li><a href="{{ path('leerling_kosten') }}">Wat kost het?</a></li>#}
                            {#<li><a href="{{ path('leerling_privacy') }}">Hoe zit het met mijn privacy?</a></li>#}
                            {#<li><a href="{{ path('leerling_vragen') }}">Veelgestelde vragen</a></li>#}
                            {#<li><a href="{{ path('leerling_klachten') }}">Klachten</a></li>#}
                        {#</ul>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="javascript:void(0)" class="site-nav-sub"><i class="fa fa-angle-down site-nav-arrow"></i>Rijscholen</a>#}
                        {#<ul>#}
                            {#<li><a href="{{ path('rijschool_informatie') }}">Informatie en kosten</a></li>#}
                            {#<li><a href="{{ path('rijschool_steden') }}">Actieve steden</a></li>#}
                            {#<li><a href="{{ path('fos_user_registration_register') }}">Registreren</a></li>#}
                        {#</ul>#}
                    {#</li>#}
                    <li>
                        <a href="{{ path('website_contact') }}">Contact</a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_security_login') }}" class="btn btn-default">Inloggen Rijscholen</a>
                    </li>
                </ul>
                <!-- END Main Menu -->
            </nav>
            <!-- END Site Navigation -->
        </div>
    </header>
