 {% embed 'AppBundle::Website/header.html.twig' %}
     {% block title %}Op zoek naar een Rijschool?{% endblock %}
     {% block description %}Rijschoolvinden.nl is er voor zowel rijscholen als studenten. Wij zorgen ervoor dat de juiste leerling bij de juiste rijschool komt. Alle soorten rijbewijzen zijn mogelijk en je regelt het door het doorlopen van een aantal eenvoudige stappen.{% endblock %}
     {% block og_title %}Op zoek naar een Rijschool?{% endblock %}
     {% block og_description %}Rijschoolvinden.nl is er voor zowel rijscholen als studenten. Wij zorgen ervoor dat de juiste leerling bij de juiste rijschool komt. Alle soorten rijbewijzen zijn mogelijk en je regelt het door het doorlopen van een aantal eenvoudige stappen.{% endblock %}

     {% block homepage_slider %}
         <div class="row text-center">
             <div class="col-md-12">
                 <div class="headline">
                     <h1>Een betrouwbare rijschool vinden doe je bij Rijschoolvinden.nl</h1>
                 </div>
             </div>
         </div>
     {% endblock %}

 {% endembed %}

 {#<section class="site-content site-section site-section-light parallax-image" style="background-image: url('{{ asset('bundles/app/website/img/auto-spiegel.jpg') }}');">#}
     {#<div class="container heading-image">#}
         {#<h2 class="site-heading text-center" style="vertical-align: middle;">Heeft u klachten over een Rijschool?</h2>#}
     {#</div>#}
 {#</section>#}

 <!-- Home Carousel -->
 <div id="home-carousel" class="carousel carousel-home slide" data-ride="carousel" data-interval="5000">
     <!-- Wrapper for slides -->
     <div class="carousel-inner">
         <div class="active item">
             {#<section class="site-section site-section-light site-section-top themed-background-default">#}
             <section class="site-content site-section site-section-light parallax-image" style="background-image: url('{{ asset('bundles/app/website/img/auto-spiegel.jpg') }}'); padding: 150px 0 75px 0; background-position:center;">
                 <div class="container">
                     <h1 class="text-center animation-slideDown">Vergelijk <strong>rijscholen</strong>. <strong>Simpel</strong> en snel. Helemaal <strong>gratis</strong>.</h1>
                    <h2 id="start-configurator" class="text-center" href="#" style="font-size: 80px; margin: 0 0 -30px 0;">
                        <i class="fa fa-angle-double-down fa-blink" aria-hidden="true"></i>
                    </h2>
                 </div>
             </section>
         </div>
     </div>
     <!-- END Wrapper for slides -->

     <!-- Controls -->
     {#<a class="left carousel-control" href="#home-carousel" data-slide="prev">#}
        {#<span>#}
            {#<i class="fa fa-chevron-left"></i>#}
        {#</span>#}
     {#</a>#}
     {#<a class="right carousel-control" href="#home-carousel" data-slide="next">#}
        {#<span>#}
            {#<i class="fa fa-chevron-right"></i>#}
        {#</span>#}
     {#</a>#}
     <!-- END Controls -->
 </div>
 <!-- END Home Carousel -->

 {% include 'AppBundle::Website/leadbox.html.twig' %}
 <!-- END Action -->

{% embed 'AppBundle::Website/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}