{% embed 'AppBundle::Website/header.html.twig' %}
    {% block title %}Informatie voor rijscholen{% endblock %}
    {% block description %}Steeds meer potentiële leerlingen zoeken via het internet naar een rijschool. Het is belangrijk dat u een eigen website heeft, maar vaak blijkt dit niet voldoende te zijn. Het is moeilijk om hoog in zoekmachines te scoren, dit kost u veel tijd en geld. En wat denkt u van advertentiekosten? Deze kunnen soms aardig in de papieren lopen. Rijschoolvinden.nl biedt u uitkomst; wij helpen u graag met het vinden van nieuwe leerlingen.{% endblock %}
    {% block og_title %}Informatie voor rijscholen{% endblock %}
    {% block og_description %}Steeds meer potentiële leerlingen zoeken via het internet naar een rijschool. Het is belangrijk dat u een eigen website heeft, maar vaak blijkt dit niet voldoende te zijn. Het is moeilijk om hoog in zoekmachines te scoren, dit kost u veel tijd en geld. En wat denkt u van advertentiekosten? Deze kunnen soms aardig in de papieren lopen. Rijschoolvinden.nl biedt u uitkomst; wij helpen u graag met het vinden van nieuwe leerlingen.{% endblock %}
{% endembed %}

<!-- Intro -->
<section class="site-section site-section-light site-section-top themed-background-default">
    <div class="container">
        <h1 class="text-center animation-slideDown"><i class="fa fa-info-circle"></i> <strong>Informatie voor rijscholen</strong></h1>
    </div>
</section>
<!-- END Intro -->

<section class="site-content site-section">
    <div class="container">
        <div class="site-block">
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <h3 class="site-heading"><strong>Rijschoolvinden</strong> helpt u met het <strong>vinden</strong> van potentiële <strong>leerlingen</strong></h3>
                    <p>Steeds meer potentiële leerlingen zoeken via het internet naar een rijschool. Het is belangrijk dat u een eigen website heeft, maar vaak blijkt dit niet voldoende te zijn. Het is moeilijk om hoog in zoekmachines te scoren, dit kost u veel tijd en geld. En wat denkt u van advertentiekosten? Deze kunnen soms aardig in de papieren lopen. Rijschoolvinden.nl biedt u uitkomst; wij helpen u graag met het vinden van nieuwe leerlingen.</p>
                    <p>Wanneer een potentiële leerling uit uw regio op zoek is naar een rijschool door gebruik te maken van onze website, krijgt u de offerteaanvraag met zijn/haar gegevens in uw mailbox en kunt u deze inzien op het eigen dashboard. Hiermee kunt u direct contact opnemen met de leerling!</p>
                    <hr>
                    <div class="row text-center">
                        <h3 class="site-heading"><strong>Registreer</strong> of <strong>Bel me terug</strong></h3>
                        {% embed 'AppBundle::Website/flashbag.html.twig' %}{% endembed %}
                        <p>Wilt u toch telefonisch meer informatie voordat u registreert? Laat dan uw telefoonnummer achter en wij bellen u terug om uw vragen te beantwoorden</p>
                        <div class="col-xs-12 col-sm-6">
                            <form action="{{ path('fos_user_registration_register') }}" method="post" id="form-contact" novalidate="novalidate">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="gi gi-building"></i></span>
                                        <input type="email" class="form-control input-lg" id="companyname" name="companyname" placeholder="Bedrijfsnaam.." value="{{ app.request.get('companyname') ? app.request.get('companyname') : '' }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
                                        <input type="email" class="form-control input-lg" id="email" name="email" placeholder="E-mail adres.." value="{{ app.request.get('email') ? app.request.get('email') : '' }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="gi gi-earphone"></i></span>
                                        <input type="email" class="form-control input-lg" id="phonenumber" name="phonenumber" placeholder="Telefoonnummer.." value="{{ app.request.get('phonenumber') ? app.request.get('phonenumber') : '' }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p>Door de registratie te voltooien geeft u aan dat u akkoord gaat met de <a href="{{ asset('bundles/app/website/doc/algemene-voorwaarden-voor-rijscholen.pdf') }}" target="_blank">algemene voorwaarden</a>.</p>
                                    <button type="submit" class="btn btn-lg btn-primary btn-block">Registreren</button>
                                </div>
                                <input type="hidden" name="action" value="registration" />
                            </form>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <form action="{{ path('website_informatie') }}" method="post" id="form-contact" novalidate="novalidate">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="gi gi-building"></i></span>
                                        <input type="email" class="form-control input-lg" id="companyname" name="companyname" placeholder="Bedrijfsnaam.." value="{{ app.request.get('companyname') ? app.request.get('companyname') : '' }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="gi gi-earphone"></i></span>
                                        <input type="email" class="form-control input-lg" id="phonenumber" name="phonenumber" placeholder="Telefoonnummer.." value="{{ app.request.get('phonenumber') ? app.request.get('phonenumber') : '' }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-lg btn-primary btn-block">Bel me terug</button>
                                </div>
                                <input type="hidden" name="action" value="registration" />
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="site-block">
                        {% embed 'AppBundle::Templates/side_waarom_rijschool.html.twig' %}{% endembed %}
                        {#{% embed 'AppBundle::Templates/side_testimonial_leerling.html.twig' %}{% endembed %}#}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% embed 'AppBundle::Templates/calltoaction.html.twig' %}{% endembed %}

{% embed 'AppBundle::Website/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}