<section class="site-content site-section" style="padding-top: 0;">
    <div class="container">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="site-block">
            <div class="row default-block">
                <div id="configurator" class="col-xs-12 col-sm-12">
                    <h3 class="h2 site-heading text-center">Ontvang binnen <strong>3 stappen</strong> aanbiedingen van <strong>rijscholen</strong> bij jouw in de buurt!</h3>
                    <div id="step1" class="">
                        <h3 class="step-heading text-center">Stap 1: In welke categorie wil je graag lessen nemen?</h3>
                        <div id="label-step-1" class="row">
                            <div class="col-xs-12">
                                <i class="fa fa-check" aria-hidden="true"></i><span> Nog geen keuze gemaakt.</span> <a href="#" class="edit" onclick="editStep(1);">(wijzig)</a>
                            </div>
                        </div>
                        <div id="question-step-1" class="row">
                            {% for licence in licences %}
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                    <div class="rijbewijscategorie step1-category" data-id="{{ licence.id }}" data-type="{{ licence.name }}">
                                        <img src="{{ asset('bundles/app/website/img/icons/'~licence.type~'-'~licence.image|lower~'.png') }}" class="img-responsive" alt=""/>
                                        {% if licence.type == 'theorie' %}
                                            <label>{{ licence.name }} (Theorie)</label>
                                        {% else %}
                                            <label>{{ licence.name }}</label>
                                        {% endif %}

                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <hr>

                    <div id="step3">
                        <h3 class="step-heading text-center">Stap 2: In welke stad/gemeente wil je graag lessen nemen?</h3>
                        <div id="label-step-2" class="row">
                            <div class="col-xs-12">
                                <i class="fa fa-check" aria-hidden="true"></i><span> Nog geen keuze gemaakt.</span> <a href="#" class="edit" onclick="editStep(2);">(wijzig)</a>
                            </div>
                        </div>
                        <div id="question-step-2" class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                                        <select id="city" class="form-control step2">
                                            <option>Kies hier je stad/gemeente</option>
                                            {% for city in cities %}
                                                <option value="{{ city.id }}">{{ city.name }} ({{ city.provinceName }})</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div id="step4">
                        <h3 class="step-heading text-center">Laatste stap: Vul je gegevens in.</h3>
                        <div id="question-step-3" class="row text-center">
                            <div class="col-xs-12">
                                <form id="leadForm" action="{{ path('website_home') }}" method="POST" class="form-horizontal">
                                    <input type="hidden" id="licenseID" name="license"  value="" />
                                    <input type="hidden" id="cityID" name="city"  value="" />
                                    <div class="form-group">
                                        <label for="voornaam" class="col-sm-3 control-label">Voornaam</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="voornaam" name="voornaam" placeholder="Voornaam..." value="{{ app.request.get('voornaam') }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="achternaam" class="col-sm-3 control-label">Achternaam</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="achternaam" name="achternaam" placeholder="Achternaam..." value="{{ app.request.get('achternaam') }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-sm-3 control-label">E-mail</label>
                                        <div class="col-sm-9">
                                            <input type="email" class="form-control" id="email" name="email" placeholder="E-mail..." value="{{ app.request.get('email') }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="telefoon" class="col-sm-3 control-label">Telefoon</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="telefoon" name="telefoon" placeholder="Telefoon..." value="{{ app.request.get('telefoon') }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="optradio" class="col-sm-3 control-label">Heb je al rijervaring?</label>
                                        <div class="col-sm-9 text-left">
                                            <div class="radio">
                                                <label class="radio-inline"><input type="radio" id="rijervaring_false" name="rijervaring" value="0" {{ app.request.get('rijervaring') == '0' ? "checked='checked'" ? '' }} required>Nee, ik heb nog geen rijervaring.</label>
                                            </div>
                                            <div class="radio">
                                                <label class="radio-inline"><input type="radio" id="rijervaring_true" name="rijervaring" value="1" {{ app.request.get('rijervaring') == '1' ? "checked='checked'" ? '' }}>Ja, ik heb al rijervaring.</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="optradio" class="col-sm-3 control-label">Wanneer wil je beginnen?</label>
                                        <div class="col-sm-9 text-left">
                                            <div class="radio">
                                                <label class="radio-inline"><input type="radio" name="beginmogelijkheid" value="0" {{ app.request.get('beginmogelijkheid') == '0' ? "checked='checked'" ? '' }}>Zo snel mogelijk</label>
                                            </div>
                                            <div class="radio">
                                                <label class="radio-inline"><input type="radio" name="beginmogelijkheid" value="1" {{ app.request.get('beginmogelijkheid') == '1' ? "checked='checked'" ? '' }}>+- 1 week</label>
                                            </div>
                                            <div class="radio">
                                                <label class="radio-inline"><input type="radio" name="beginmogelijkheid" value="2" {{ app.request.get('beginmogelijkheid') == '2' ? "checked='checked'" ? '' }}>+- 2 weken</label>
                                            </div>
                                            <div class="radio">
                                                <label class="radio-inline"><input type="radio" name="beginmogelijkheid" value="3"> {{ app.request.get('beginmogelijkheid') == '3' ? "checked='checked'" ? '' }}+- 1 maand</label>
                                            </div>
                                            <div class="radio">
                                                <label class="radio-inline"><input type="radio" name="beginmogelijkheid" value="4" {{ app.request.get('beginmogelijkheid') == '4' ? "checked='checked'" ? '' }}>Later dan 1 maand</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="optradio" class="col-sm-3 control-label">Hoe wil je benaderd worden?</label>
                                        <div class="col-sm-9 text-left">
                                            <div class="radio">
                                                <label class="radio-inline"><input type="radio" name="contactvoorkeur" value="0" {{ app.request.get('contactvoorkeur') == '0' ? "checked='checked'" ? '' }}>Ik ontvang graag (maximaal 5) gratis offerte's per telefoon.</label>
                                            </div>
                                            <div class="radio">
                                                <label class="radio-inline"><input type="radio" name="contactvoorkeur" value="1" {{ app.request.get('contactvoorkeur') == '1' ? "checked='checked'" ? '' }}>Ik ontvang graag (maximaal 5) gratis offerte per e-mail.</label>
                                            </div>
                                            <div class="radio">
                                                <label class="radio-inline"><input type="radio" name="contactvoorkeur" value="2" {{ app.request.get('contactvoorkeur') == '2' ? "checked='checked'" ? '' }}>Ik ontvang graag (maximaal 5) gratis offerte per WhatsApp.</label>
                                            </div>
                                            <div class="radio">
                                                <label class="radio-inline"><input type="radio" name="contactvoorkeur" value="4" {{ app.request.get('contactvoorkeur') == '4' ? "checked='checked'" ? '' }}>Geen voorkeur</label>
                                            </div>
                                            {#<div class="radio">#}
                                                {#<label class="radio-inline"><input type="radio" name="contactvoorkeur" value="3"> {{ app.request.get('contactvoorkeur') == '3' ? "checked='checked'" ? '' }}Ik ontvang graag (maximaal 5) gratis offerte per post.</label>#}
                                            {#</div>#}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-xs-9 col-xs-offset-3">
                                            <button type="submit" class="btn btn-info">Aanvraag Versturen</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
</section>