{% embed 'AppBundle::Website/header.html.twig' %}
    {% block title %}Over ons{% endblock %}
    {% block description %}Vrijwel dagelijks besluit er wel ergens een student dat hij gaat beginnen met theorielessen. Of iemand bedenkt dat hij toch nodig eens zijn rijbewijs wil gaan halen. Een belangrijke stap is dan het zoeken van een geschikte rijschool. Aan de andere kant zijn rijscholen vaak op zoek naar potentiële leerlingen. Rijschoolvinden brengt beide partijen bij elkaar. Zowel leerling als rijschool hebben hiervan profijt.{% endblock %}
    {% block og_title %}Over ons{% endblock %}
    {% block og_description %}Vrijwel dagelijks besluit er wel ergens een student dat hij gaat beginnen met theorielessen. Of iemand bedenkt dat hij toch nodig eens zijn rijbewijs wil gaan halen. Een belangrijke stap is dan het zoeken van een geschikte rijschool. Aan de andere kant zijn rijscholen vaak op zoek naar potentiële leerlingen. Rijschoolvinden brengt beide partijen bij elkaar. Zowel leerling als rijschool hebben hiervan profijt.{% endblock %}
{% endembed %}

<!-- Intro -->
<section class="site-section site-section-light site-section-top themed-background-default">
    <div class="container">
        <h1 class="text-center animation-slideDown"><i class="fa fa-drivers-license-o"></i> <strong>Over Rijschoolvinden.nl</strong></h1>
    </div>
</section>
<!-- END Intro -->

<section class="site-content site-section">
    <div class="container">
        <div class="site-block">
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <h3 class="site-heading"><strong>Voordelen</strong> voor beide partijen</h3>
                    <p>Vrijwel dagelijks besluit er wel ergens een student dat hij gaat beginnen met theorielessen. Of iemand bedenkt dat hij toch nodig eens zijn rijbewijs wil gaan halen. Een belangrijke stap is dan het zoeken van een geschikte rijschool. Aan de andere kant zijn rijscholen vaak op zoek naar potentiële leerlingen. Rijschoolvinden brengt beide partijen bij elkaar. Zowel leerling als rijschool hebben hiervan profijt.</p>

                    <h3 class="site-heading">Hoe <strong>werkt</strong> het?</h3>
                    <p>Als een potentiële leerling op onze website komt, doorloopt deze een aantal stappen. Wij willen graag weten om welke soort rijbewijs categorie het gaat, in welke stad de leerling wil lessen en tenslotte hebben wij een aantal contactgegevens nodig. Dit is alles wat de student hoeft te doen. Wij gaan dan aan de slag en zoeken geschikte rijscholen. De leerling ontvangt maximaal 5 offertes en kan dan zelf een keuze maken. Dit scheelt een student veel tijd. Het voordeel voor rijscholen is dat zij alleen offerte aanvragen sturen naar serieuze potentiële klanten. De kans op nieuwe leerlingen is daarom groot.</p>

                    <h3 class="site-heading"><strong>Privacy</strong> staat <strong>hoog</strong> in het vaandel</h3>
                    <p>Wij vinden het belangrijk dat de privacy wordt gewaarborgd. We maken daarom alleen gebruik van een versleutelde verbinding. Gegevens worden ook nooit gedeeld met derden. Rijschoolvinden.nl is er voor zowel de rijschoolhouder als de leerling.</p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="site-block">
                        {% embed 'AppBundle::Templates/side_waarom_voor_leerlingen.html.twig' %}{% endembed %}
                        {% embed 'AppBundle::Templates/side_testimonial_leerling.html.twig' %}{% endembed %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% embed 'AppBundle::Templates/calltoaction.html.twig' %}{% endembed %}

{% embed 'AppBundle::Website/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}