{% embed 'AppBundle::Website/header.html.twig' %}
    {% block title %}Privacy Policy{% endblock %}
    {% block description %}{% endblock %}
    {% block og_title %}Privacy Policy{% endblock %}
    {% block og_description %}{% endblock %}
{% endembed %}

<!-- Intro -->
<section class="site-section site-section-light site-section-top themed-background-default">
    <div class="container">
        <h1 class="text-center animation-slideDown"><i class="fa fa-connectdevelop"></i> <strong>Privacy Policy</strong></h1>
        <h2 class="h3 text-center animation-slideUp">Verbindt leerlingen met rijscholen.</h2>
    </div>
</section>
<!-- END Intro -->

<section class="site-content site-section site-section-light parallax-image" style="background-image: url('{{ asset('bundles/app/website/img/auto-spiegel.jpg') }}');">
    <div class="container heading-image">
        <h2 class="site-heading text-center" style="vertical-align: middle;"><strong>Rijschoolvinden</strong> brengt <strong>rijschool</strong> en <strong>leerling</strong> bij elkaar</h2>
    </div>
</section>

<section class="site-content site-section">
    <div class="container">
        <div class="site-block">
            <div class="row">
                <div class="col-xs-12">
                </div>
            </div>
        </div>
    </div>
</section>

{% embed 'AppBundle::Templates/calltoaction.html.twig' %}{% endembed %}

{% embed 'AppBundle::Website/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}