{% embed 'AppBundle::Website/header.html.twig' %}
    {% block title %}Aanvraag succesvol verzonden{% endblock %}
    {% block description %}Uw aanvraag is succesvol verzonden.{% endblock %}
    {% block og_title %}Aanvraag succesvol verzonden{% endblock %}
    {% block og_description %}Uw aanvraag is succesvol verzonden{% endblock %}
{% endembed %}

<!-- Intro -->
<section class="site-section site-section-light site-section-top themed-background-default">
    <div class="container">
        <h1 class="text-center animation-slideDown"><i class="fa fa-check"></i> <strong>Aanvraag voltooid!</strong></h1>
    </div>
</section>
<!-- END Intro -->

<section class="site-content site-section">
    <div class="container">
        <div class="site-block">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h3 class="site-heading"><strong>Gefeliciteerd!</strong> Uw aanvraag is <strong>succesvol</strong> verzonden.</h3>
                    <p>
                        U zult op kort termijn benaderd worden door rijscholen met offertes.<br/>
                        Mocht u nog vragen hebben kunt u altijd contact opnemen met ons.
                    </p>
                    <p>Bedankt voor het in vertrouwen nemen van Rijschoolvinden.nl.</p>
                </div>
                {#<div class="col-xs-12 col-sm-4">#}
                    {#<div class="site-block">#}
                        {#{% embed 'AppBundle::Templates/side_waarom_rijschool.html.twig' %}{% endembed %}#}
                        {#{% embed 'AppBundle::Templates/side_testimonial_leerling.html.twig' %}{% endembed %}#}
                    {#</div>#}
                {#</div>#}
            </div>
        </div>
    </div>
</section>

{% embed 'AppBundle::Templates/calltoaction.html.twig' %}{% endembed %}

{% embed 'AppBundle::Website/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}