{% embed 'AppBundle::Website/header.html.twig' %}
    {% block title %}Algemene Voorwaarden{% endblock %}
    {% block description %}{% endblock %}
    {% block og_title %}Algemene Voorwaarden{% endblock %}
    {% block og_description %}{% endblock %}
{% endembed %}

<!-- Intro -->
<section class="site-section site-section-light site-section-top themed-background-default">
    <div class="container">
        <h1 class="text-center animation-slideDown"><i class="fa fa-connectdevelop"></i> <strong>Algemene Voorwaarden</strong></h1>
    </div>
</section>
<!-- END Intro -->

<section class="site-content site-section">
    <div class="container">
        <div class="site-block">
            <div class="row">
                <div class="col-xs-12">
                </div>
            </div>
        </div>
    </div>
</section>

{% embed 'AppBundle::Templates/calltoaction.html.twig' %}{% endembed %}

{% embed 'AppBundle::Website/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}