/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    header {
        background: #1695B4;
    }
    @keyframes fa-blink {
        0% { opacity: 1; }
        25% { opacity: 0.25; }
        50% { opacity: 0.5; }
        75% { opacity: 0.75; }
        100% { opacity: 0; }
    }
    .fa-blink {
        -webkit-animation: fa-blink 4s linear infinite;
        -moz-animation: fa-blink 4s linear infinite;
        -ms-animation: fa-blink 4s linear infinite;
        -o-animation: fa-blink 4s linear infinite;
        animation: fa-blink 4s linear infinite;
    }

    .site-logo img {
        max-height:40px;
    }

    .default-block {
        margin-top:30px;
        background-color:#fff;
        /*border: 1px solid #eee;*/
        padding:15px 25px 25px 25px;
    }

    .default-block h1 {
        font-weight:300;
        font-size:32px;
        color:#333;
    }

    .default-block h2 {
        font-weight:300;
        font-size:18px;
        color:#333;
        margin-bottom:5px;
    }

    .default-block hr {
        border-top:1px solid #eee;
    }

    .default-block a {
        text-decoration: none;
        outline: 0;
        cursor: pointer;
        /*color: #1bbae1;*/
    }

    .default-block a:focus {
        outline: 0;
        text-decoration: none;
    }

    .default-block a:hover {
        text-decoration: none;
        color: #474646;
    }

    .rijbewijscategorie {
        margin:10px;
        height: 155px;
        max-height: 155px;
        background-color: #fff;
        border:3px solid transparent;
        cursor: pointer;
        text-align: center;
    }

    .rijbewijscategorie:hover {
        border:3px solid green;
        /*background-color: #1bbae1;*/
        cursor: pointer;
    }

    .rijbewijscategorie img {
        max-height:120px;
        margin:20px auto 20px auto;
        width:40%;
        cursor: pointer;
    }

    .rijbewijscategorie label {
        font-family: 'Open Sans', sans-serif !important;
        font-size:16px !important;
        margin-bottom:0;
        /*background-color: #1bbae1;*/
        padding:10px 20px;
        color: #373737;
        text-transform: uppercase;
        cursor: pointer;
        text-align: center;
    }

    .rijbewijscategorie span {
        margin:5px 0 0;
        color: white;
        display: block;
        width: 100%;
    }

    #question-step-2, #question-step-3, #question-step-4 {
        display: none;
        margin-top:25px;
    }

    .step-heading
    {
        background-color: #1695B4;
        padding:10px 25px;
        color: white;
        /*font-weight:bold;*/
    }

    .summary {
        border-left:1px solid #eee;
        padding:25px 60px 60px 60px;
    }

    .list-summary{
        list-style: none;
        padding-left:10px;
    }

    .success{
        color: green;
    }

    .btn {
        display: block;
        font-size: 13px;
        /*color: #ffffff;*/
        font-weight: 600;
        padding: 0 10px;
        margin: 2px 5px;
        height: 34px;
        line-height: 34px;
        border-radius: 3px;
        text-transform: uppercase;
    }

    .site-nav a.btn-default
    {
        color: #333;
    }

    #label-step-1, #label-step-2, #label-step-3 {
        margin-top:10px;
        display: none;
        text-align: center;
    }

    .list-inline>li
    {
        margin-bottom:13px;
    }
    
    .fa-blink
    {
        cursor: pointer;
    }

    .form-control.error
    {
        color: #e74c3c;
        background-color: #ffd1cc;
        border-color: #ffb8b0;
    }

    input.error::after
    {
        color: #e74c3c;
    }

    .no-margin-bottom {
        margin-bottom:0 !important;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

    .heading-image {
        min-height:300px;
    }

    .heading-image h2 {
        margin-top:100px;
    }

    .rijbewijscategorie img {
        max-height:120px;
        margin:20px auto 20px auto;
        width:60%;
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

    .rijbewijscategorie img {
        max-height:120px;
        margin:20px auto 20px auto;
        width:65%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}